# CORA - Categorizing academic publications using getML

In this notebook, we compare getML against extant approaches in the relational learning literature on the CORA data set, which is often used for benchmarking. We demonstrate that getML outperforms the state of the art in the relational learning literature on this data set. Beyond the benchmarking aspects, this notebooks showcases getML's excellent capabilities in dealing with categorical data.

Summary:

- Prediction type: __Classification model__
- Domain: __Academia__
- Prediction target: __The category of a paper__ 
- Population size: __2708__

_Author: Dr. Patrick Urbanke_

# Background

CORA is a well-known benchmarking dataset in the academic literature on relational learning. The dataset contains 2708 scientific publications on machine learning. The papers are divided into 7 categories. The challenge is to predict the category of a paper based on the papers it cites, the papers it is cited by and keywords contained in the paper.

It has been downloaded from the [CTU Prague relational learning repository](https://relational.fit.cvut.cz/dataset/CORA) (Motl and Schulte, 2015).

### A web frontend for getML

The getML monitor is a frontend built to support your work with getML. The getML monitor displays information such as the imported data frames, trained pipelines and allows easy data and feature exploration. You can launch the getML monitor [here](http://localhost:1709).

### Where is this running?

Your getML live session is running inside a docker container on [mybinder.org](https://mybinder.org/), a service built by the Jupyter community and funded by Google Cloud, OVH, GESIS Notebooks and the Turing Institute. As it is a free service, this session will shut down after 10 minutes of inactivity.

# Analysis

Let's get started with the analysis and set up your session:

In [1]:
import copy
import datetime
import os
from urllib import request
import time

import numpy as np
import pandas as pd
from IPython.display import Image
import matplotlib.pyplot as plt
plt.style.use('seaborn')
%matplotlib inline  

import pyspark
import getml

getml.engine.set_project('cora')

Loading pipelines...
[========================================] 100%

Connected to project 'cora'

## 1. Loading data

### 1.1 Download from source

We begin by downloading the data from the source file:

In [2]:
conn = getml.database.connect_mariadb(
    host="relational.fit.cvut.cz",
    dbname="CORA",
    port=3306,
    user="guest",
    password="relational"
)

conn

Connection(conn_id='default',
           dbname='CORA',
           dialect='mysql',
           host='relational.fit.cvut.cz',
           port=3306)

In [3]:
def load_if_needed(name):
    """
    Loads the data from the relational learning
    repository, if the data frame has not already
    been loaded.
    """
    if not getml.data.exists(name):
        data_frame = getml.data.DataFrame.from_db(
            name=name,
            table_name=name,
            conn=conn
        )
        data_frame.save()
    else:
        data_frame = getml.data.load_data_frame(name)
    return data_frame

In [4]:
paper = load_if_needed("paper")
cites = load_if_needed("cites")
content = load_if_needed("content")

In [5]:
paper

name       paper_id   class_label
role   unused_float   unused_string
   0             35   Genetic_Algorithms
   1             40   Genetic_Algorithms
   2            114   Reinforcement_Learning
   3            117   Reinforcement_Learning
   4            128   Reinforcement_Learning
                ...   ...
2703        1154500   Case_Based
2704        1154520   Neural_Networks
2705        1154524   Rule_Learning
2706        1154525   Rule_Learning
2707        1155073   Rule_Learning


2708 rows x 2 columns
memory usage: 0.09 MB
name: paper
type: getml.DataFrame
url: http://localhost:1709/#/getdataframe/cora/paper/

In [6]:
cites

name   cited_paper_id   citing_paper_id
role     unused_float      unused_float
   0               35               887
   1               35              1033
   2               35              1688
   3               35              1956
   4               35              8865
                  ...               ...
5424           853116             19621
5425           853116            853155
5426           853118           1140289
5427           853155            853118
5428           954315           1155073


5429 rows x 2 columns
memory usage: 0.09 MB
name: cites
type: getml.DataFrame
url: http://localhost:1709/#/getdataframe/cora/cites/

In [7]:
content

 name       paper_id   word_cited_id
 role   unused_float   unused_string
    0             35   word100
    1             35   word1152
    2             35   word1175
    3             35   word1228
    4             35   word1248
                 ...   ...
49211        1155073   word75
49212        1155073   word759
49213        1155073   word789
49214        1155073   word815
49215        1155073   word979


49216 rows x 2 columns
memory usage: 1.20 MB
name: content
type: getml.DataFrame
url: http://localhost:1709/#/getdataframe/cora/content/

### 1.2 Prepare data for getML

getML requires that we define *roles* for each of the columns.

In [8]:
paper.set_role("paper_id", getml.data.roles.join_key)
paper.set_role("class_label", getml.data.roles.categorical)
paper

name   paper_id   class_label
role   join_key   categorical
   0         35   Genetic_Algorithms
   1         40   Genetic_Algorithms
   2        114   Reinforcement_Learning
   3        117   Reinforcement_Learning
   4        128   Reinforcement_Learning
            ...   ...
2703    1154500   Case_Based
2704    1154520   Neural_Networks
2705    1154524   Rule_Learning
2706    1154525   Rule_Learning
2707    1155073   Rule_Learning


2708 rows x 2 columns
memory usage: 0.02 MB
name: paper
type: getml.DataFrame
url: http://localhost:1709/#/getdataframe/cora/paper/

In [9]:
cites.set_role(["cited_paper_id", "citing_paper_id"], getml.data.roles.join_key)
cites

name   cited_paper_id   citing_paper_id
role         join_key          join_key
   0               35               887
   1               35              1033
   2               35              1688
   3               35              1956
   4               35              8865
                  ...               ...
5424           853116             19621
5425           853116            853155
5426           853118           1140289
5427           853155            853118
5428           954315           1155073


5429 rows x 2 columns
memory usage: 0.04 MB
name: cites
type: getml.DataFrame
url: http://localhost:1709/#/getdataframe/cora/cites/

We need to separate our data set into a training, testing and validation set:

In [10]:
content.set_role("paper_id", getml.data.roles.join_key)
content.set_role("word_cited_id", getml.data.roles.categorical)
content

 name   paper_id   word_cited_id
 role   join_key   categorical
    0         35   word100
    1         35   word1152
    2         35   word1175
    3         35   word1228
    4         35   word1248
             ...   ...
49211    1155073   word75
49212    1155073   word759
49213    1155073   word789
49214    1155073   word815
49215    1155073   word979


49216 rows x 2 columns
memory usage: 0.39 MB
name: content
type: getml.DataFrame
url: http://localhost:1709/#/getdataframe/cora/content/

The goal is to predict seven different labels. We generate a target column for each of those labels. We also have to separate the data set into a training and testing set.

In [11]:
data_full = getml.data.make_target_columns(paper, "class_label")
data_full

name   paper_id   class_label=Case_Based   class_label=Genetic_Algorithms   class_label=Neural_Networks
role   join_key                   target                           target                        target
   0         35                        0                                1                             0
   1         40                        0                                1                             0
   2        114                        0                                0                             0
   3        117                        0                                0                             0
   4        128                        0                                0                             0
 ...        ...                      ...                              ...                           ...

name   class_label=Probabilistic_Methods   class_label=Reinforcement_Learning   class_label=Rule_Learning   class_label=Theory
role                             target                             target                      target               target
   0                                  0                                  0                           0                    0
   1                                  0                                  0                           0                    0
   2                                  0                                  1                           0                    0
   3                                  0                                  1                           0                    0
   4                                  0                                  1                           0                    0
 ...                                ...                                ...                         ...                  ...


2708 rows x 8 columns
type: getml.data.View

In [12]:
split = getml.data.split.random(train=0.7, test=0.3, validation=0.0)
split

 0   train
 1   test
 2   train
 3   test
 4   test
     ...


infinite number of  rows
type: StringColumnView

In [13]:
container = getml.data.Container(population=data_full, split=split)
container.add(cites=cites, content=content, paper=paper)
container.freeze()
container

population
    subset   name    rows   type
0   test     paper    821   View
1   train    paper   1887   View

peripheral
    name       rows   type
0   cites      5429   DataFrame
1   content   49216   DataFrame
2   paper      2708   DataFrame

## 2. Predictive modeling

We loaded the data and defined the roles and units. Next, we create a getML pipeline for relational learning.

### 2.1 Define relational model

To get started with relational learning, we need to specify the data model. Even though the data set itself is quite simple with only three tables and six columns in total, the resulting data model is actually quite complicated.

That is because the class label can be predicting using three different pieces of information:

- The keywords used by the paper
- The keywords used by papers it cites and by papers that cite the paper
- The class label of papers it cites and by papers that cite the paper

The main challenge here is that `cites` is used twice, once to connect the _cited_ papers and then to connect the _citing_ papers. To resolve this, we need two placeholders on `cites`.

In [14]:
dm = getml.data.DataModel(paper.to_placeholder("population"))

# We need two different placeholders for cites.
dm.add(getml.data.to_placeholder(cites=[cites]*2, content=content, paper=paper))

dm.population.join(
    dm.cites[0],
    on=('paper_id', 'cited_paper_id')
)

dm.cites[0].join(
    dm.content,
    on=('citing_paper_id', 'paper_id')
)

dm.cites[0].join(
    dm.paper,
    on=('citing_paper_id', 'paper_id'),
    relationship=getml.data.relationship.many_to_one
)

dm.population.join(
    dm.cites[1],
    on=('paper_id', 'citing_paper_id')
)

dm.cites[1].join(
    dm.content,
    on=('cited_paper_id', 'paper_id')
)

dm.cites[1].join(
    dm.paper,
    on=('cited_paper_id', 'paper_id'),
    relationship=getml.data.relationship.many_to_one
)

dm.population.join(
    dm.content,
    on='paper_id'
)

dm

population:
  columns:
  - class_label: categorical
  - paper_id: join_key

  joins:
  - right: 'cites'
    on: (population.paper_id, cites.cited_paper_id)
    relationship: 'many-to-many'
    lagged_targets: False
  - right: 'cites'
    on: (population.paper_id, cites.citing_paper_id)
    relationship: 'many-to-many'
    lagged_targets: False
  - right: 'content'
    on: (population.paper_id, content.paper_id)
    relationship: 'many-to-many'
    lagged_targets: False

cites:
  columns:
  - cited_paper_id: join_key
  - citing_paper_id: join_key

  joins:
  - right: 'content'
    on: (cites.citing_paper_id, content.paper_id)
    relationship: 'many-to-many'
    lagged_targets: False
  - right: 'paper'
    on: (cites.citing_paper_id, paper.paper_id)
    relationship: 'many-to-one'
    lagged_targets: False

content:
  columns:
  - word_cited_id: categorical
  - paper_id: join_key

paper:
  columns:
  - class_label: categorical
  - paper_id: join_key

cites:
  columns:
  - cited_paper_id: join_key
  - citing_paper_id: join_key

  joins:
  - right: 'content'
    on: (cites.cited_paper_id, content.paper_id)
    relationship: 'many-to-many'
    lagged_targets: False
  - right: 'paper'
    on: (cites.cited_paper_id, paper.paper_id)
    relationship: 'many-to-one'
    lagged_targets: False

content:
  columns:
  - word_cited_id: categorical
  - paper_id: join_key

paper:
  columns:
  - class_label: categorical
  - paper_id: join_key

content:
  columns:
  - word_cited_id: categorical
  - paper_id: join_key

### 2.2 getML pipeline

<!-- #### 2.1.1  -->
__Set-up the feature learner & predictor__

We use the relboost algorithms for this problem. Because of the large number of keywords, we regularize the model a bit by requiring a minimum support for the keywords (`min_num_samples`).

In [15]:
mapping = getml.preprocessors.Mapping()

fast_prop = getml.feature_learning.FastProp(
    loss_function=getml.feature_learning.loss_functions.CrossEntropyLoss,
    num_threads=1
)

relboost = getml.feature_learning.Relboost(
    num_features=10,
    num_subfeatures=10,
    loss_function=getml.feature_learning.loss_functions.CrossEntropyLoss,
    seed=4367,
    num_threads=1,
    min_num_samples=30
)

predictor = getml.predictors.XGBoostClassifier()

__Build the pipeline__

In [16]:
pipe1 = getml.pipeline.Pipeline(
    tags=['fast_prop'],
    data_model=dm,
    preprocessors=[mapping],
    feature_learners=[fast_prop],
    predictors=[predictor]
)

pipe1

Pipeline(data_model='population',
         feature_learners=['FastProp'],
         feature_selectors=[],
         include_categorical=False,
         loss_function=None,
         peripheral=['cites', 'content', 'paper'],
         predictors=['XGBoostClassifier'],
         preprocessors=['Mapping'],
         share_selected_features=0.5,
         tags=['fast_prop'])

In [17]:
pipe2 = getml.pipeline.Pipeline(
    tags=['relboost'],
    data_model=dm,
    feature_learners=[relboost],
    predictors=[predictor]
)

pipe2

Pipeline(data_model='population',
         feature_learners=['Relboost'],
         feature_selectors=[],
         include_categorical=False,
         loss_function=None,
         peripheral=['cites', 'content', 'paper'],
         predictors=['XGBoostClassifier'],
         preprocessors=[],
         share_selected_features=0.5,
         tags=['relboost'])

### 2.3 Model training

In [18]:
pipe1.check(container.train)

Checking data model...


Staging...
[========================================] 100%

Preprocessing...
[========================================] 100%

Checking...
[========================================] 100%

INFO [MIGHT TAKE LONG]: The number of unique entries in column 'word_cited_id' in CONTENT__STAGING_TABLE_4 is 1432. This might take a long time to fit. You should consider setting its role to unused_string or using it for comparison only (you can do the latter by setting a unit that contains 'comparison only').
INFO [FOREIGN KEYS NOT FOUND]: When joining POPULATION__STAGING_TABLE_1 and CITES__STAGING_TABLE_2 over 'paper_id' and 'cited_paper_id', there are no corresponding entries for 41.759406% of entries in 'paper_id' in 'POPULATION__STAGING_TABLE_1'. You might want to double-check your join keys.
INFO [FOREIGN KEYS NOT FOUND]: When joining POPULATION__STAGING_TABLE_1 and CITES__STAGING_TABLE_3 over 'paper_id' and 'citing_paper_id', there are no corresponding entries for 17.700053% of entries in 'paper_id' in 'POPULATION__STAGING_TABLE_1'. You might want to double-check your join keys.

In [19]:
pipe1.fit(container.train)

Checking data model...


Staging...
[========================================] 100%

INFO [MIGHT TAKE LONG]: The number of unique entries in column 'word_cited_id' in CONTENT__STAGING_TABLE_4 is 1432. This might take a long time to fit. You should consider setting its role to unused_string or using it for comparison only (you can do the latter by setting a unit that contains 'comparison only').
INFO [FOREIGN KEYS NOT FOUND]: When joining POPULATION__STAGING_TABLE_1 and CITES__STAGING_TABLE_2 over 'paper_id' and 'cited_paper_id', there are no corresponding entries for 41.759406% of entries in 'paper_id' in 'POPULATION__STAGING_TABLE_1'. You might want to double-check your join keys.
INFO [FOREIGN KEYS NOT FOUND]: When joining POPULATION__STAGING_TABLE_1 and CITES__STAGING_TABLE_3 over 'paper_id' and 'citing_paper_id', there are no corresponding entries for 17.700053% of entries in 'paper_id' in 'POPULATION__STAGING_TABLE_1'. You might want to double-check your join keys.


Staging...
[========================================] 100%

Preprocessing...
[========================================] 100%

FastProp: Trying 3780 features...
[========================================] 100%

FastProp: Building subfeatures...
[========================================] 100%

FastProp: Building subfeatures...
[========================================] 100%

FastProp: Building features...
[========================================] 100%

XGBoost: Training as predictor...
[========================================] 100%

XGBoost: Training as predictor...
[========================================] 100%

XGBoost: Training as predictor...
[========================================] 100%

XGBoost: Training as predictor...
[========================================] 100%

XGBoost: Training as predictor...
[========================================] 100%

XGBoost: Training as predictor...
[========================================] 100%

XGBoost: Training as predictor...
[========================================] 100%

Trained pipeline.
Time taken: 0h:0m:25.672015

Pipeline(data_model='population',
         feature_learners=['FastProp'],
         feature_selectors=[],
         include_categorical=False,
         loss_function=None,
         peripheral=['cites', 'content', 'paper'],
         predictors=['XGBoostClassifier'],
         preprocessors=['Mapping'],
         share_selected_features=0.5,
         tags=['fast_prop', 'container-xcXAQD'])

url: http://localhost:1709/#/getpipeline/cora/yqkbIw/0/

In [20]:
pipe2.check(container.train)

Checking data model...


Staging...
[========================================] 100%

Checking...
[========================================] 100%

INFO [MIGHT TAKE LONG]: The number of unique entries in column 'word_cited_id' in CONTENT__STAGING_TABLE_4 is 1432. This might take a long time to fit. You should consider setting its role to unused_string or using it for comparison only (you can do the latter by setting a unit that contains 'comparison only').
INFO [FOREIGN KEYS NOT FOUND]: When joining POPULATION__STAGING_TABLE_1 and CITES__STAGING_TABLE_2 over 'paper_id' and 'cited_paper_id', there are no corresponding entries for 41.759406% of entries in 'paper_id' in 'POPULATION__STAGING_TABLE_1'. You might want to double-check your join keys.
INFO [FOREIGN KEYS NOT FOUND]: When joining POPULATION__STAGING_TABLE_1 and CITES__STAGING_TABLE_3 over 'paper_id' and 'citing_paper_id', there are no corresponding entries for 17.700053% of entries in 'paper_id' in 'POPULATION__STAGING_TABLE_1'. You might want to double-check your join keys.

The training process seems a bit intimidating. That is because the relboost algorithms needs to train separate models for each class label. This is due to the nature of the generated features.

In [21]:
pipe2.fit(container.train)

Checking data model...


Staging...
[========================================] 100%

INFO [MIGHT TAKE LONG]: The number of unique entries in column 'word_cited_id' in CONTENT__STAGING_TABLE_4 is 1432. This might take a long time to fit. You should consider setting its role to unused_string or using it for comparison only (you can do the latter by setting a unit that contains 'comparison only').
INFO [FOREIGN KEYS NOT FOUND]: When joining POPULATION__STAGING_TABLE_1 and CITES__STAGING_TABLE_2 over 'paper_id' and 'cited_paper_id', there are no corresponding entries for 41.759406% of entries in 'paper_id' in 'POPULATION__STAGING_TABLE_1'. You might want to double-check your join keys.
INFO [FOREIGN KEYS NOT FOUND]: When joining POPULATION__STAGING_TABLE_1 and CITES__STAGING_TABLE_3 over 'paper_id' and 'citing_paper_id', there are no corresponding entries for 17.700053% of entries in 'paper_id' in 'POPULATION__STAGING_TABLE_1'. You might want to double-check your join keys.


Staging...
[========================================] 100%

Relboost: Training subfeatures...
[========================================] 100%

Relboost: Training subfeatures...
[========================================] 100%

Relboost: Training subfeatures...
[========================================] 100%

Relboost: Training subfeatures...
[========================================] 100%

Relboost: Building subfeatures...
[========================================] 100%

Relboost: Building subfeatures...
[========================================] 100%

Relboost: Building subfeatures...
[========================================] 100%

Relboost: Building subfeatures...
[========================================] 100%

Relboost: Training features...
[========================================] 100%

Relboost: Training subfeatures...
[========================================] 100%

Relboost: Training subfeatures...
[========================================] 100%

Relboost: Training subfeatures...
[========================================] 100%

Relboost: Training subfeatures...
[========================================] 100%

Relboost: Building subfeatures...
[========================================] 100%

Relboost: Building subfeatures...
[========================================] 100%

Relboost: Building subfeatures...
[========================================] 100%

Relboost: Building subfeatures...
[========================================] 100%

Relboost: Training features...
[========================================] 100%

Relboost: Training subfeatures...
[========================================] 100%

Relboost: Training subfeatures...
[========================================] 100%

Relboost: Training subfeatures...
[========================================] 100%

Relboost: Training subfeatures...
[========================================] 100%

Relboost: Building subfeatures...
[========================================] 100%

Relboost: Building subfeatures...
[========================================] 100%

Relboost: Building subfeatures...
[========================================] 100%

Relboost: Building subfeatures...
[========================================] 100%

Relboost: Training features...
[========================================] 100%

Relboost: Training subfeatures...
[========================================] 100%

Relboost: Training subfeatures...
[========================================] 100%

Relboost: Training subfeatures...
[========================================] 100%

Relboost: Training subfeatures...
[========================================] 100%

Relboost: Building subfeatures...
[========================================] 100%

Relboost: Building subfeatures...
[========================================] 100%

Relboost: Building subfeatures...
[========================================] 100%

Relboost: Building subfeatures...
[========================================] 100%

Relboost: Training features...
[========================================] 100%

Relboost: Training subfeatures...
[========================================] 100%

Relboost: Training subfeatures...
[========================================] 100%

Relboost: Training subfeatures...
[========================================] 100%

Relboost: Training subfeatures...
[========================================] 100%

Relboost: Building subfeatures...
[========================================] 100%

Relboost: Building subfeatures...
[========================================] 100%

Relboost: Building subfeatures...
[========================================] 100%

Relboost: Building subfeatures...
[========================================] 100%

Relboost: Training features...
[========================================] 100%

Relboost: Training subfeatures...
[========================================] 100%

Relboost: Training subfeatures...
[========================================] 100%

Relboost: Training subfeatures...
[========================================] 100%

Relboost: Training subfeatures...
[========================================] 100%

Relboost: Building subfeatures...
[========================================] 100%

Relboost: Building subfeatures...
[========================================] 100%

Relboost: Building subfeatures...
[========================================] 100%

Relboost: Building subfeatures...
[========================================] 100%

Relboost: Training features...
[========================================] 100%

Relboost: Training subfeatures...
[========================================] 100%

Relboost: Training subfeatures...
[========================================] 100%

Relboost: Training subfeatures...
[========================================] 100%

Relboost: Training subfeatures...
[========================================] 100%

Relboost: Building subfeatures...
[========================================] 100%

Relboost: Building subfeatures...
[========================================] 100%

Relboost: Building subfeatures...
[========================================] 100%

Relboost: Building subfeatures...
[========================================] 100%

Relboost: Training features...
[========================================] 100%

Relboost: Building subfeatures...
[========================================] 100%

Relboost: Building subfeatures...
[========================================] 100%

Relboost: Building subfeatures...
[========================================] 100%

Relboost: Building subfeatures...
[========================================] 100%

Relboost: Building features...
[========================================] 100%

Relboost: Building subfeatures...
[========================================] 100%

Relboost: Building subfeatures...
[========================================] 100%

Relboost: Building subfeatures...
[========================================] 100%

Relboost: Building subfeatures...
[========================================] 100%

Relboost: Building features...
[========================================] 100%

Relboost: Building subfeatures...
[========================================] 100%

Relboost: Building subfeatures...
[========================================] 100%

Relboost: Building subfeatures...
[========================================] 100%

Relboost: Building subfeatures...
[========================================] 100%

Relboost: Building features...
[========================================] 100%

Relboost: Building subfeatures...
[========================================] 100%

Relboost: Building subfeatures...
[========================================] 100%

Relboost: Building subfeatures...
[========================================] 100%

Relboost: Building subfeatures...
[========================================] 100%

Relboost: Building features...
[========================================] 100%

Relboost: Building subfeatures...
[========================================] 100%

Relboost: Building subfeatures...
[========================================] 100%

Relboost: Building subfeatures...
[========================================] 100%

Relboost: Building subfeatures...

[========================================] 100%

Relboost: Building features...
[========================================] 100%

Relboost: Building subfeatures...
[========================================] 100%

Relboost: Building subfeatures...
[========================================] 100%

Relboost: Building subfeatures...
[========================================] 100%

Relboost: Building subfeatures...
[========================================] 100%

Relboost: Building features...
[========================================] 100%

Relboost: Building subfeatures...
[========================================] 100%

Relboost: Building subfeatures...
[========================================] 100%

Relboost: Building subfeatures...
[========================================] 100%

Relboost: Building subfeatures...
[========================================] 100%

Relboost: Building features...
[========================================] 100%

XGBoost: Training as predictor...
[========================================] 100%

XGBoost: Training as predictor...
[========================================] 100%

XGBoost: Training as predictor...
[========================================] 100%

XGBoost: Training as predictor...
[========================================] 100%

XGBoost: Training as predictor...
[========================================] 100%

XGBoost: Training as predictor...
[========================================] 100%

XGBoost: Training as predictor...
[========================================] 100%

Trained pipeline.
Time taken: 0h:2m:30.090179

Pipeline(data_model='population',
         feature_learners=['Relboost'],
         feature_selectors=[],
         include_categorical=False,
         loss_function=None,
         peripheral=['cites', 'content', 'paper'],
         predictors=['XGBoostClassifier'],
         preprocessors=[],
         share_selected_features=0.5,
         tags=['relboost', 'container-xcXAQD'])

url: http://localhost:1709/#/getpipeline/cora/njyp6d/0/

### 2.4 Model evaluation

In [22]:
pipe1.score(container.test)

Staging...
[========================================] 100%

Preprocessing...
[========================================] 100%

FastProp: Building subfeatures...
[========================================] 100%

FastProp: Building subfeatures...
[========================================] 100%

FastProp: Building features...
[========================================] 100%

     date time             set used   target                                       accuracy       auc   cross entropy
 0   2021-08-20 23:35:25   train      class_label=Case_Based             0.9978802331743508    0.9999        0.02323
 1   2021-08-20 23:35:25   train      class_label=Genetic_Algorithms                      1    1.            0.004915
 2   2021-08-20 23:35:25   train      class_label=Neural_Networks        0.9846316905140434    0.9983        0.065852
 3   2021-08-20 23:35:25   train      class_label=Probabilistic_Method...   0.9957604663487016    0.9998        0.02765
 4   2021-08-20 23:35:25   train      class_label=Reinforcement_Learni...   0.9994700582935877    1.            0.009078
     ...                   ...        ...                                               ...       ...             ...
 9   2021-08-20 23:37:57   test       class_label=Neural_Networks         0.951278928136419    0.9787        0.163552
10   2021-08-20 23:37:57   test       class_label=Probabilistic_Method...   0.9732034104750305    0.9872        0.083174
11   2021-08-20 23:37:57   test       class_label=Reinforcement_Learni...   0.9805115712545676    0.9736        0.074599
12   2021-08-20 23:37:57   test       class_label=Rule_Learning          0.9841656516443362    0.9937        0.052146
13   2021-08-20 23:37:57   test       class_label=Theory                 0.9573690621193667    0.977         0.128597

In [23]:
pipe2.score(container.test)

Staging...
[========================================] 100%

Relboost: Building subfeatures...
[========================================] 100%

Relboost: Building subfeatures...
[========================================] 100%

Relboost: Building subfeatures...
[========================================] 100%

Relboost: Building subfeatures...
[========================================] 100%

Relboost: Building features...
[========================================] 100%

Relboost: Building subfeatures...
[========================================] 100%

Relboost: Building subfeatures...
[========================================] 100%

Relboost: Building subfeatures...
[========================================] 100%

Relboost: Building subfeatures...
[========================================] 100%

Relboost: Building features...
[========================================] 100%

Relboost: Building subfeatures...
[========================================] 100%

Relboost: Building subfeatures...
[========================================] 100%

Relboost: Building subfeatures...
[========================================] 100%

Relboost: Building subfeatures...
[========================================] 100%

Relboost: Building features...
[========================================] 100%

Relboost: Building subfeatures...
[========================================] 100%

Relboost: Building subfeatures...
[========================================] 100%

Relboost: Building subfeatures...
[========================================] 100%

Relboost: Building subfeatures...
[========================================] 100%

Relboost: Building features...
[========================================] 100%

Relboost: Building subfeatures...
[========================================] 100%

Relboost: Building subfeatures...
[========================================] 100%

Relboost: Building subfeatures...
[========================================] 100%

Relboost: Building subfeatures...
[========================================] 100%

Relboost: Building features...
[========================================] 100%

Relboost: Building subfeatures...
[========================================] 100%

Relboost: Building subfeatures...
[========================================] 100%

Relboost: Building subfeatures...
[========================================] 100%

Relboost: Building subfeatures...
[========================================] 100%

Relboost: Building features...
[========================================] 100%

Relboost: Building subfeatures...
[========================================] 100%

Relboost: Building subfeatures...
[========================================] 100%

Relboost: Building subfeatures...
[========================================] 100%

Relboost: Building subfeatures...
[========================================] 100%

Relboost: Building features...
[========================================] 100%

     date time             set used   target                                       accuracy       auc   cross entropy
 0   2021-08-20 23:37:56   train      class_label=Case_Based                              1    1.            0.008368
 1   2021-08-20 23:37:56   train      class_label=Genetic_Algorithms                      1    1.            0.004185
 2   2021-08-20 23:37:56   train      class_label=Neural_Networks        0.9925808161102279    0.9995        0.03748
 3   2021-08-20 23:37:56   train      class_label=Probabilistic_Method...   0.9978802331743508    1.            0.014195
 4   2021-08-20 23:37:56   train      class_label=Reinforcement_Learni...                    1    1.            0.004341
     ...                   ...        ...                                               ...       ...             ...
 9   2021-08-20 23:38:01   test       class_label=Neural_Networks        0.9390986601705238    0.9802        0.182987
10   2021-08-20 23:38:01   test       class_label=Probabilistic_Method...   0.9732034104750305    0.9874        0.090399
11   2021-08-20 23:38:01   test       class_label=Reinforcement_Learni...   0.9817295980511571    0.9779        0.077956
12   2021-08-20 23:38:01   test       class_label=Rule_Learning          0.9817295980511571    0.9918        0.06703
13   2021-08-20 23:38:01   test       class_label=Theory                 0.9500609013398295    0.966         0.164147

To make things a bit easier, we just look at our test results.

In [24]:
pipe1.scores.filter(lambda score: score.set_used == "test")

    date time             set used   target                             accuracy       auc   cross entropy
0   2021-08-20 23:37:57   test       class_label=Case_Based               0.9708    0.9861         0.08689
1   2021-08-20 23:37:57   test       class_label=Genetic_Algorithms       0.9854    0.998          0.04898
2   2021-08-20 23:37:57   test       class_label=Neural_Networks          0.9513    0.9787         0.16355
3   2021-08-20 23:37:57   test       class_label=Probabilistic_Method...     0.9732    0.9872         0.08317
4   2021-08-20 23:37:57   test       class_label=Reinforcement_Learni...     0.9805    0.9736         0.0746
5   2021-08-20 23:37:57   test       class_label=Rule_Learning            0.9842    0.9937         0.05215
6   2021-08-20 23:37:57   test       class_label=Theory                   0.9574    0.977          0.1286

In [25]:
pipe2.scores.filter(lambda score: score.set_used == "test")

    date time             set used   target                             accuracy       auc   cross entropy
0   2021-08-20 23:38:01   test       class_label=Case_Based               0.9756    0.9801         0.10383
1   2021-08-20 23:38:01   test       class_label=Genetic_Algorithms       0.9915    0.9992         0.03394
2   2021-08-20 23:38:01   test       class_label=Neural_Networks          0.9391    0.9802         0.18299
3   2021-08-20 23:38:01   test       class_label=Probabilistic_Method...     0.9732    0.9874         0.0904
4   2021-08-20 23:38:01   test       class_label=Reinforcement_Learni...     0.9817    0.9779         0.07796
5   2021-08-20 23:38:01   test       class_label=Rule_Learning            0.9817    0.9918         0.06703
6   2021-08-20 23:38:01   test       class_label=Theory                   0.9501    0.966          0.16415

### 2.5 Productionization

It is possible to productionize the pipeline by transpiling the features into production-ready SQL code. Please also refer to getML's `sqlite3` module.

In [26]:
pipe1.features.to_sql(dialect=getml.pipeline.dialect.spark_sql).save("cora1_spark_sql")

In [27]:
pipe2.features.to_sql(dialect=getml.pipeline.dialect.spark_sql).save("cora2_spark_sql")

In [28]:
spark = SparkSession(sc)

In [29]:
population_spark = container.train.population.to_pyspark(spark, name="population")
cites_spark = cites.to_pyspark(spark, name="cites") 
content_spark = content.to_pyspark(spark, name="content") 
paper_spark = paper.to_pyspark(spark, name="paper")

In [30]:
begin = time.time()
getml.spark.execute(spark, "cora1_spark_sql")
end = time.time()

spark_runtime1 = datetime.timedelta(seconds=end - begin)

2021-08-20 23:38:07,504 Executing cora1_spark_sql/0001_population__staging_table_1.sql...
2021-08-20 23:38:21,964 Executing cora1_spark_sql/0002_cites__staging_table_2.sql...
2021-08-20 23:38:30,112 Executing cora1_spark_sql/0003_cites__staging_table_3.sql...
2021-08-20 23:38:35,087 Executing cora1_spark_sql/0004_content__staging_table_4.sql...
2021-08-20 23:38:36,586 Executing cora1_spark_sql/0005_word_cited_id__mapping_1_1_target_1_avg.sql...
2021-08-20 23:38:40,629 Executing cora1_spark_sql/0006_word_cited_id__mapping_1_1_target_2_avg.sql...
2021-08-20 23:38:42,862 Executing cora1_spark_sql/0007_word_cited_id__mapping_1_1_target_3_avg.sql...
2021-08-20 23:38:44,947 Executing cora1_spark_sql/0008_word_cited_id__mapping_1_1_target_4_avg.sql...
2021-08-20 23:38:47,181 Executing cora1_spark_sql/0009_word_cited_id__mapping_1_1_target_5_avg.sql...
2021-08-20 23:38:49,374 Executing cora1_spark_sql/0010_word_cited_id__mapping_1_1_target_6_avg.sql...
2021-08-20 23:38:51,461 Executing cora1_spark_sql/0011_word_cited_id__mapping_1_1_target_7_avg.sql...
2021-08-20 23:38:53,518 Executing cora1_spark_sql/0012_t3__class_label__mapping_1_target_1_avg.sql...
2021-08-20 23:38:58,171 Executing cora1_spark_sql/0013_t3__class_label__mapping_1_target_2_avg.sql...
2021-08-20 23:39:03,120 Executing cora1_spark_sql/0014_t3__class_label__mapping_1_target_3_avg.sql...
2021-08-20 23:39:07,624 Executing cora1_spark_sql/0015_t3__class_label__mapping_1_target_4_avg.sql...
2021-08-20 23:39:12,125 Executing cora1_spark_sql/0016_t3__class_label__mapping_1_target_5_avg.sql...
2021-08-20 23:39:16,845 Executing cora1_spark_sql/0017_t3__class_label__mapping_1_target_6_avg.sql...
2021-08-20 23:39:21,122 Executing cora1_spark_sql/0018_t3__class_label__mapping_1_target_7_avg.sql...
2021-08-20 23:39:25,480 Executing cora1_spark_sql/0019_word_cited_id__mapping_2_1_target_1_avg.sql...
2021-08-20 23:39:27,426 Executing cora1_spark_sql/0020_word_cited_id__mapping_2_1_target_2_avg.sql...
2021-08-20 23:39:29,146 Executing cora1_spark_sql/0021_word_cited_id__mapping_2_1_target_3_avg.sql...
2021-08-20 23:39:30,940 Executing cora1_spark_sql/0022_word_cited_id__mapping_2_1_target_4_avg.sql...
2021-08-20 23:39:32,729 Executing cora1_spark_sql/0023_word_cited_id__mapping_2_1_target_5_avg.sql...
2021-08-20 23:39:34,562 Executing cora1_spark_sql/0024_word_cited_id__mapping_2_1_target_6_avg.sql...
2021-08-20 23:39:36,420 Executing cora1_spark_sql/0025_word_cited_id__mapping_2_1_target_7_avg.sql...
2021-08-20 23:39:38,403 Executing cora1_spark_sql/0026_t4__class_label__mapping_2_target_1_avg.sql...
2021-08-20 23:39:42,979 Executing cora1_spark_sql/0027_t4__class_label__mapping_2_target_2_avg.sql...
2021-08-20 23:39:47,020 Executing cora1_spark_sql/0028_t4__class_label__mapping_2_target_3_avg.sql...
2021-08-20 23:39:51,249 Executing cora1_spark_sql/0029_t4__class_label__mapping_2_target_4_avg.sql...
2021-08-20 23:39:55,206 Executing cora1_spark_sql/0030_t4__class_label__mapping_2_target_5_avg.sql...
2021-08-20 23:39:59,263 Executing cora1_spark_sql/0031_t4__class_label__mapping_2_target_6_avg.sql...
2021-08-20 23:40:03,419 Executing cora1_spark_sql/0032_t4__class_label__mapping_2_target_7_avg.sql...
2021-08-20 23:40:07,364 Executing cora1_spark_sql/0033_word_cited_id__mapping_3_target_1_avg.sql...
2021-08-20 23:40:09,221 Executing cora1_spark_sql/0034_word_cited_id__mapping_3_target_2_avg.sql...
2021-08-20 23:40:11,022 Executing cora1_spark_sql/0035_word_cited_id__mapping_3_target_3_avg.sql...
2021-08-20 23:40:12,920 Executing cora1_spark_sql/0036_word_cited_id__mapping_3_target_4_avg.sql...
2021-08-20 23:40:14,723 Executing cora1_spark_sql/0037_word_cited_id__mapping_3_target_5_avg.sql...
2021-08-20 23:40:16,456 Executing cora1_spark_sql/0038_word_cited_id__mapping_3_target_6_avg.sql...
2021-08-20 23:40:18,335 Executing cora1_spark_sql/0039_word_cited_id__mapping_3_target_7_avg.sql...
2021-08-20 23:40:20,111 Executing cora1_spark_sql/0040_feature_1_1_1.sql...
2021-08-20 23:40:31,263 Executing cora1_spark_sql/0041_feature_1_1_2.sql...
2021-08-20 23:40:40,669 Executing cora1_spark_sql/0042_feature_1_1_3.sql...
2021-08-20 23:40:45,753 Executing cora1_spark_sql/0043_feature_1_1_4.sql...
2021-08-20 23:40:54,432 Executing cora1_spark_sql/0044_feature_1_1_5.sql...
2021-08-20 23:41:03,329 Executing cora1_spark_sql/0045_feature_1_1_6.sql...
2021-08-20 23:41:08,402 Executing cora1_spark_sql/0046_feature_1_1_7.sql...
2021-08-20 23:41:14,839 Executing cora1_spark_sql/0047_feature_1_1_8.sql...
2021-08-20 23:41:19,659 Executing cora1_spark_sql/0048_feature_1_1_9.sql...
2021-08-20 23:41:25,754 Executing cora1_spark_sql/0049_feature_1_1_10.sql...
2021-08-20 23:41:32,006 Executing cora1_spark_sql/0050_feature_1_1_11.sql...
2021-08-20 23:41:37,144 Executing cora1_spark_sql/0051_feature_1_1_12.sql...
2021-08-20 23:41:42,190 Executing cora1_spark_sql/0052_feature_1_1_13.sql...
2021-08-20 23:41:51,980 Executing cora1_spark_sql/0053_feature_1_1_14.sql...
2021-08-20 23:42:02,177 Executing cora1_spark_sql/0054_feature_1_1_15.sql...
2021-08-20 23:42:07,748 Executing cora1_spark_sql/0055_feature_1_1_16.sql...
2021-08-20 23:42:14,310 Executing cora1_spark_sql/0056_feature_1_1_17.sql...
2021-08-20 23:42:20,042 Executing cora1_spark_sql/0057_feature_1_1_18.sql...
2021-08-20 23:42:25,187 Executing cora1_spark_sql/0058_feature_1_1_19.sql...
2021-08-20 23:42:30,386 Executing cora1_spark_sql/0059_feature_1_1_20.sql...
2021-08-20 23:42:35,560 Executing cora1_spark_sql/0060_feature_1_1_21.sql...
2021-08-20 23:42:40,364 Executing cora1_spark_sql/0061_feature_1_1_22.sql...
2021-08-20 23:42:49,476 Executing cora1_spark_sql/0062_feature_1_1_23.sql...
2021-08-20 23:42:59,133 Executing cora1_spark_sql/0063_feature_1_1_24.sql...
2021-08-20 23:43:04,401 Executing cora1_spark_sql/0064_feature_1_1_25.sql...
2021-08-20 23:43:09,916 Executing cora1_spark_sql/0065_feature_1_1_26.sql...
2021-08-20 23:43:14,895 Executing cora1_spark_sql/0066_feature_1_1_27.sql...
2021-08-20 23:43:20,273 Executing cora1_spark_sql/0067_feature_1_1_28.sql...
2021-08-20 23:43:25,155 Executing cora1_spark_sql/0068_feature_1_1_29.sql...
2021-08-20 23:43:30,331 Executing cora1_spark_sql/0069_feature_1_1_30.sql...
2021-08-20 23:43:35,242 Executing cora1_spark_sql/0070_feature_1_1_31.sql...
2021-08-20 23:43:44,132 Executing cora1_spark_sql/0071_feature_1_1_32.sql...
2021-08-20 23:43:53,920 Executing cora1_spark_sql/0072_feature_1_1_33.sql...
2021-08-20 23:43:58,665 Executing cora1_spark_sql/0073_feature_1_1_34.sql...
2021-08-20 23:44:04,179 Executing cora1_spark_sql/0074_feature_1_1_35.sql...
2021-08-20 23:44:08,854 Executing cora1_spark_sql/0075_feature_1_1_36.sql...
2021-08-20 23:44:14,073 Executing cora1_spark_sql/0076_feature_1_1_37.sql...
2021-08-20 23:44:19,514 Executing cora1_spark_sql/0077_feature_1_1_38.sql...
2021-08-20 23:44:24,295 Executing cora1_spark_sql/0078_feature_1_1_39.sql...
2021-08-20 23:44:29,190 Executing cora1_spark_sql/0079_feature_1_1_40.sql...
2021-08-20 23:44:37,707 Executing cora1_spark_sql/0080_feature_1_1_41.sql...
2021-08-20 23:44:47,176 Executing cora1_spark_sql/0081_feature_1_1_42.sql...
2021-08-20 23:44:52,632 Executing cora1_spark_sql/0082_feature_1_1_43.sql...
2021-08-20 23:44:58,017 Executing cora1_spark_sql/0083_feature_1_1_44.sql...
2021-08-20 23:45:02,928 Executing cora1_spark_sql/0084_feature_1_1_45.sql...
2021-08-20 23:45:07,858 Executing cora1_spark_sql/0085_feature_1_1_46.sql...
2021-08-20 23:45:12,743 Executing cora1_spark_sql/0086_feature_1_1_47.sql...
2021-08-20 23:45:17,768 Executing cora1_spark_sql/0087_feature_1_1_48.sql...
2021-08-20 23:45:22,520 Executing cora1_spark_sql/0088_feature_1_1_49.sql...
2021-08-20 23:45:30,917 Executing cora1_spark_sql/0089_feature_1_1_50.sql...
2021-08-20 23:45:40,403 Executing cora1_spark_sql/0090_feature_1_1_51.sql...
2021-08-20 23:45:45,288 Executing cora1_spark_sql/0091_feature_1_1_52.sql...
2021-08-20 23:45:50,915 Executing cora1_spark_sql/0092_feature_1_1_53.sql...
2021-08-20 23:45:56,059 Executing cora1_spark_sql/0093_feature_1_1_54.sql...
2021-08-20 23:46:01,475 Executing cora1_spark_sql/0094_feature_1_1_55.sql...
2021-08-20 23:46:06,633 Executing cora1_spark_sql/0095_feature_1_1_56.sql...

2021-08-20 23:46:11,829 Executing cora1_spark_sql/0096_feature_1_1_57.sql...
2021-08-20 23:46:17,138 Executing cora1_spark_sql/0097_feature_1_1_58.sql...
2021-08-20 23:46:25,628 Executing cora1_spark_sql/0098_feature_1_1_59.sql...
2021-08-20 23:46:35,417 Executing cora1_spark_sql/0099_feature_1_1_60.sql...
2021-08-20 23:46:40,286 Executing cora1_spark_sql/0100_feature_1_1_61.sql...
2021-08-20 23:46:45,955 Executing cora1_spark_sql/0101_feature_1_1_62.sql...
2021-08-20 23:46:51,086 Executing cora1_spark_sql/0102_feature_1_1_63.sql...
2021-08-20 23:46:56,581 Executing cora1_spark_sql/0103_feature_1_1_64.sql...
2021-08-20 23:47:01,916 Executing cora1_spark_sql/0104_feature_1_1_65.sql...
2021-08-20 23:47:06,907 Executing cora1_spark_sql/0105_feature_1_1_66.sql...
2021-08-20 23:47:11,922 Executing cora1_spark_sql/0106_feature_1_1_67.sql...
2021-08-20 23:47:20,888 Executing cora1_spark_sql/0107_feature_1_1_68.sql...
2021-08-20 23:47:30,400 Executing cora1_spark_sql/0108_feature_1_1_69.sql...
2021-08-20 23:47:35,657 Executing cora1_spark_sql/0109_feature_1_1_70.sql...
2021-08-20 23:47:41,292 Executing cora1_spark_sql/0110_feature_1_1_71.sql...
2021-08-20 23:47:46,206 Executing cora1_spark_sql/0111_feature_1_1_72.sql...
2021-08-20 23:47:51,375 Executing cora1_spark_sql/0112_feature_1_1_73.sql...
2021-08-20 23:47:56,312 Executing cora1_spark_sql/0113_feature_1_1_74.sql...
2021-08-20 23:48:01,256 Executing cora1_spark_sql/0114_feature_1_1_75.sql...
2021-08-20 23:48:06,156 Executing cora1_spark_sql/0115_feature_1_1_76.sql...
2021-08-20 23:48:14,856 Executing cora1_spark_sql/0116_feature_1_1_77.sql...
2021-08-20 23:48:24,742 Executing cora1_spark_sql/0117_feature_1_1_78.sql...
2021-08-20 23:48:29,302 Executing cora1_spark_sql/0118_feature_1_1_79.sql...
2021-08-20 23:48:34,944 Executing cora1_spark_sql/0119_feature_1_1_80.sql...
2021-08-20 23:48:39,854 Executing cora1_spark_sql/0120_feature_1_1_81.sql...
2021-08-20 23:48:44,740 Executing cora1_spark_sql/0121_feature_1_1_82.sql...
2021-08-20 23:48:49,823 Executing cora1_spark_sql/0122_feature_1_1_83.sql...
2021-08-20 23:48:54,616 Executing cora1_spark_sql/0123_feature_1_1_84.sql...
2021-08-20 23:48:59,573 Executing cora1_spark_sql/0124_feature_1_1_85.sql...
2021-08-20 23:49:07,857 Executing cora1_spark_sql/0125_feature_1_1_86.sql...
2021-08-20 23:49:17,735 Executing cora1_spark_sql/0126_feature_1_1_87.sql...
2021-08-20 23:49:22,856 Executing cora1_spark_sql/0127_feature_1_1_88.sql...
2021-08-20 23:49:28,397 Executing cora1_spark_sql/0128_feature_1_1_89.sql...
2021-08-20 23:49:33,284 Executing cora1_spark_sql/0129_feature_1_1_90.sql...
2021-08-20 23:49:38,370 Executing cora1_spark_sql/0130_feature_1_1_91.sql...
2021-08-20 23:49:43,525 Executing cora1_spark_sql/0131_feature_1_1_92.sql...
2021-08-20 23:49:48,566 Executing cora1_spark_sql/0132_feature_1_1_93.sql...
2021-08-20 23:49:53,305 Executing cora1_spark_sql/0133_feature_1_1_94.sql...
2021-08-20 23:50:02,269 Executing cora1_spark_sql/0134_feature_1_1_95.sql...
2021-08-20 23:50:11,970 Executing cora1_spark_sql/0135_feature_1_1_96.sql...
2021-08-20 23:50:16,889 Executing cora1_spark_sql/0136_feature_1_1_97.sql...
2021-08-20 23:50:22,548 Executing cora1_spark_sql/0137_feature_1_1_98.sql...
2021-08-20 23:50:27,496 Executing cora1_spark_sql/0138_feature_1_1_99.sql...
2021-08-20 23:50:32,692 Executing cora1_spark_sql/0139_feature_1_1_100.sql...
2021-08-20 23:50:37,579 Executing cora1_spark_sql/0140_feature_1_1_101.sql...
2021-08-20 23:50:42,365 Executing cora1_spark_sql/0141_feature_1_1_102.sql...
2021-08-20 23:50:47,672 Executing cora1_spark_sql/0142_feature_1_1_103.sql...
2021-08-20 23:50:56,516 Executing cora1_spark_sql/0143_feature_1_1_104.sql...
2021-08-20 23:51:06,070 Executing cora1_spark_sql/0144_feature_1_1_105.sql...
2021-08-20 23:51:11,060 Executing cora1_spark_sql/0145_feature_1_1_106.sql...
2021-08-20 23:51:16,766 Executing cora1_spark_sql/0146_feature_1_1_107.sql...
2021-08-20 23:51:21,828 Executing cora1_spark_sql/0147_feature_1_1_108.sql...
2021-08-20 23:51:26,868 Executing cora1_spark_sql/0148_feature_1_1_109.sql...
2021-08-20 23:51:31,916 Executing cora1_spark_sql/0149_feature_1_1_110.sql...
2021-08-20 23:51:36,766 Executing cora1_spark_sql/0150_feature_1_1_111.sql...
2021-08-20 23:51:41,663 Executing cora1_spark_sql/0151_feature_1_1_112.sql...
2021-08-20 23:51:50,804 Executing cora1_spark_sql/0152_feature_1_1_113.sql...
2021-08-20 23:52:00,370 Executing cora1_spark_sql/0153_feature_1_1_114.sql...
2021-08-20 23:52:05,593 Executing cora1_spark_sql/0154_feature_1_1_115.sql...
2021-08-20 23:52:11,325 Executing cora1_spark_sql/0155_feature_1_1_116.sql...
2021-08-20 23:52:16,248 Executing cora1_spark_sql/0156_feature_1_1_117.sql...
2021-08-20 23:52:21,713 Executing cora1_spark_sql/0157_feature_1_1_118.sql...
2021-08-20 23:52:26,679 Executing cora1_spark_sql/0158_feature_1_1_119.sql...
2021-08-20 23:52:31,524 Executing cora1_spark_sql/0159_feature_1_1_120.sql...
2021-08-20 23:52:36,781 Executing cora1_spark_sql/0160_feature_1_1_121.sql...
2021-08-20 23:52:45,956 Executing cora1_spark_sql/0161_feature_1_1_122.sql...
2021-08-20 23:52:55,435 Executing cora1_spark_sql/0162_feature_1_1_123.sql...
2021-08-20 23:53:00,745 Executing cora1_spark_sql/0163_feature_1_1_124.sql...
2021-08-20 23:53:06,477 Executing cora1_spark_sql/0164_feature_1_1_125.sql...
2021-08-20 23:53:11,712 Executing cora1_spark_sql/0165_feature_1_1_126.sql...
2021-08-20 23:53:17,057 Executing cora1_spark_sql/0166_feature_1_1_127.sql...
2021-08-20 23:53:22,334 Executing cora1_spark_sql/0167_feature_1_1_128.sql...
2021-08-20 23:53:27,650 Executing cora1_spark_sql/0168_feature_1_1_129.sql...
2021-08-20 23:53:32,610 Executing cora1_spark_sql/0169_feature_1_1_130.sql...
2021-08-20 23:53:41,427 Executing cora1_spark_sql/0170_feature_1_1_131.sql...
2021-08-20 23:53:51,097 Executing cora1_spark_sql/0171_feature_1_1_132.sql...
2021-08-20 23:53:56,274 Executing cora1_spark_sql/0172_feature_1_1_133.sql...
2021-08-20 23:54:02,005 Executing cora1_spark_sql/0173_feature_1_1_134.sql...
2021-08-20 23:54:06,849 Executing cora1_spark_sql/0174_feature_1_1_135.sql...
2021-08-20 23:54:12,147 Executing cora1_spark_sql/0175_feature_1_1_136.sql...
2021-08-20 23:54:17,228 Executing cora1_spark_sql/0176_feature_1_1_137.sql...
2021-08-20 23:54:22,798 Executing cora1_spark_sql/0177_feature_1_1_138.sql...
2021-08-20 23:54:27,736 Executing cora1_spark_sql/0178_feature_1_1_139.sql...
2021-08-20 23:54:36,409 Executing cora1_spark_sql/0179_feature_1_1_140.sql...
2021-08-20 23:54:46,488 Executing cora1_spark_sql/0180_feature_1_1_141.sql...
2021-08-20 23:54:51,494 Executing cora1_spark_sql/0181_feature_1_1_142.sql...
2021-08-20 23:54:57,117 Executing cora1_spark_sql/0182_feature_1_1_143.sql...
2021-08-20 23:55:02,257 Executing cora1_spark_sql/0183_feature_1_1_144.sql...
2021-08-20 23:55:07,363 Executing cora1_spark_sql/0184_feature_1_1_145.sql...
2021-08-20 23:55:12,748 Executing cora1_spark_sql/0185_feature_1_1_146.sql...
2021-08-20 23:55:17,809 Executing cora1_spark_sql/0186_feature_1_1_147.sql...
2021-08-20 23:55:23,057 Executing cora1_spark_sql/0187_feature_1_1_148.sql...
2021-08-20 23:55:32,200 Executing cora1_spark_sql/0188_feature_1_1_149.sql...
2021-08-20 23:55:42,144 Executing cora1_spark_sql/0189_feature_1_1_150.sql...
2021-08-20 23:55:47,127 Executing cora1_spark_sql/0190_feature_1_1_151.sql...
2021-08-20 23:55:53,037 Executing cora1_spark_sql/0191_feature_1_1_152.sql...
2021-08-20 23:55:58,474 Executing cora1_spark_sql/0192_feature_1_1_153.sql...
2021-08-20 23:56:03,637 Executing cora1_spark_sql/0193_feature_1_1_154.sql...
2021-08-20 23:56:08,857 Executing cora1_spark_sql/0194_feature_1_1_155.sql...
2021-08-20 23:56:13,832 Executing cora1_spark_sql/0195_feature_1_1_156.sql...
2021-08-20 23:56:19,008 Executing cora1_spark_sql/0196_feature_1_1_157.sql...
2021-08-20 23:56:28,056 Executing cora1_spark_sql/0197_feature_1_1_158.sql...
2021-08-20 23:56:37,368 Executing cora1_spark_sql/0198_feature_1_1_159.sql...
2021-08-20 23:56:42,716 Executing cora1_spark_sql/0199_feature_1_1_160.sql...
2021-08-20 23:56:48,483 Executing cora1_spark_sql/0200_feature_1_1_161.sql...
2021-08-20 23:56:53,765 Executing cora1_spark_sql/0201_feature_1_1_162.sql...

2021-08-20 23:56:59,242 Executing cora1_spark_sql/0202_feature_1_1_163.sql...
2021-08-20 23:57:04,305 Executing cora1_spark_sql/0203_feature_1_1_164.sql...
2021-08-20 23:57:09,283 Executing cora1_spark_sql/0204_feature_1_1_165.sql...
2021-08-20 23:57:14,388 Executing cora1_spark_sql/0205_feature_1_1_166.sql...
2021-08-20 23:57:22,711 Executing cora1_spark_sql/0206_feature_1_1_167.sql...
2021-08-20 23:57:32,750 Executing cora1_spark_sql/0207_feature_1_1_168.sql...
2021-08-20 23:57:38,101 Executing cora1_spark_sql/0208_feature_1_1_169.sql...
2021-08-20 23:57:43,740 Executing cora1_spark_sql/0209_feature_1_1_170.sql...
2021-08-20 23:57:48,782 Executing cora1_spark_sql/0210_feature_1_1_171.sql...
2021-08-20 23:57:53,844 Executing cora1_spark_sql/0211_feature_1_1_172.sql...
2021-08-20 23:57:59,187 Executing cora1_spark_sql/0212_feature_1_1_173.sql...
2021-08-20 23:58:04,192 Executing cora1_spark_sql/0213_feature_1_1_174.sql...
2021-08-20 23:58:09,465 Executing cora1_spark_sql/0214_feature_1_1_175.sql...
2021-08-20 23:58:18,380 Executing cora1_spark_sql/0215_feature_1_1_176.sql...
2021-08-20 23:58:27,526 Executing cora1_spark_sql/0216_feature_1_1_177.sql...
2021-08-20 23:58:32,683 Executing cora1_spark_sql/0217_feature_1_1_178.sql...
2021-08-20 23:58:38,697 Executing cora1_spark_sql/0218_feature_1_1_179.sql...
2021-08-20 23:58:43,414 Executing cora1_spark_sql/0219_feature_1_1_180.sql...
2021-08-20 23:58:49,132 Executing cora1_spark_sql/0220_feature_1_1_181.sql...
2021-08-20 23:58:54,439 Executing cora1_spark_sql/0221_feature_1_1_182.sql...
2021-08-20 23:58:59,469 Executing cora1_spark_sql/0222_feature_1_1_183.sql...
2021-08-20 23:59:04,690 Executing cora1_spark_sql/0223_feature_1_1_184.sql...
2021-08-20 23:59:13,639 Executing cora1_spark_sql/0224_feature_1_1_185.sql...
2021-08-20 23:59:23,594 Executing cora1_spark_sql/0225_feature_1_1_186.sql...
2021-08-20 23:59:28,455 Executing cora1_spark_sql/0226_feature_1_1_187.sql...
2021-08-20 23:59:34,374 Executing cora1_spark_sql/0227_feature_1_1_188.sql...
2021-08-20 23:59:39,442 Executing cora1_spark_sql/0228_feature_1_1_189.sql...
2021-08-20 23:59:44,533 Executing cora1_spark_sql/0229_feature_1_1_190.sql...
2021-08-20 23:59:49,826 Executing cora1_spark_sql/0230_feature_1_1_191.sql...
2021-08-20 23:59:54,769 Executing cora1_spark_sql/0231_feature_1_1_192.sql...
2021-08-21 00:00:00,745 Executing cora1_spark_sql/0232_feature_1_2_1.sql...
2021-08-21 00:00:10,125 Executing cora1_spark_sql/0233_feature_1_2_2.sql...
2021-08-21 00:00:20,807 Executing cora1_spark_sql/0234_feature_1_2_3.sql...
2021-08-21 00:00:25,836 Executing cora1_spark_sql/0235_feature_1_2_4.sql...
2021-08-21 00:00:35,087 Executing cora1_spark_sql/0236_feature_1_2_5.sql...
2021-08-21 00:00:44,989 Executing cora1_spark_sql/0237_feature_1_2_6.sql...
2021-08-21 00:00:49,911 Executing cora1_spark_sql/0238_feature_1_2_7.sql...
2021-08-21 00:00:56,000 Executing cora1_spark_sql/0239_feature_1_2_8.sql...
2021-08-21 00:01:00,824 Executing cora1_spark_sql/0240_feature_1_2_9.sql...
2021-08-21 00:01:06,166 Executing cora1_spark_sql/0241_feature_1_2_10.sql...
2021-08-21 00:01:12,566 Executing cora1_spark_sql/0242_feature_1_2_11.sql...
2021-08-21 00:01:17,474 Executing cora1_spark_sql/0243_feature_1_2_12.sql...
2021-08-21 00:01:22,482 Executing cora1_spark_sql/0244_feature_1_2_13.sql...
2021-08-21 00:01:31,721 Executing cora1_spark_sql/0245_feature_1_2_14.sql...
2021-08-21 00:01:41,228 Executing cora1_spark_sql/0246_feature_1_2_15.sql...
2021-08-21 00:01:46,648 Executing cora1_spark_sql/0247_feature_1_2_16.sql...
2021-08-21 00:01:52,312 Executing cora1_spark_sql/0248_feature_1_2_17.sql...
2021-08-21 00:01:57,504 Executing cora1_spark_sql/0249_feature_1_2_18.sql...
2021-08-21 00:02:02,672 Executing cora1_spark_sql/0250_feature_1_2_19.sql...
2021-08-21 00:02:07,727 Executing cora1_spark_sql/0251_feature_1_2_20.sql...
2021-08-21 00:02:13,070 Executing cora1_spark_sql/0252_feature_1_2_21.sql...
2021-08-21 00:02:18,254 Executing cora1_spark_sql/0253_feature_1_2_22.sql...
2021-08-21 00:02:27,291 Executing cora1_spark_sql/0254_feature_1_2_23.sql...
2021-08-21 00:02:37,008 Executing cora1_spark_sql/0255_feature_1_2_24.sql...
2021-08-21 00:02:42,047 Executing cora1_spark_sql/0256_feature_1_2_25.sql...
2021-08-21 00:02:48,346 Executing cora1_spark_sql/0257_feature_1_2_26.sql...
2021-08-21 00:02:53,257 Executing cora1_spark_sql/0258_feature_1_2_27.sql...
2021-08-21 00:02:58,735 Executing cora1_spark_sql/0259_feature_1_2_28.sql...
2021-08-21 00:03:03,700 Executing cora1_spark_sql/0260_feature_1_2_29.sql...
2021-08-21 00:03:08,732 Executing cora1_spark_sql/0261_feature_1_2_30.sql...
2021-08-21 00:03:13,994 Executing cora1_spark_sql/0262_feature_1_2_31.sql...
2021-08-21 00:03:23,538 Executing cora1_spark_sql/0263_feature_1_2_32.sql...
2021-08-21 00:03:33,248 Executing cora1_spark_sql/0264_feature_1_2_33.sql...
2021-08-21 00:03:38,507 Executing cora1_spark_sql/0265_feature_1_2_34.sql...
2021-08-21 00:03:44,190 Executing cora1_spark_sql/0266_feature_1_2_35.sql...
2021-08-21 00:03:49,226 Executing cora1_spark_sql/0267_feature_1_2_36.sql...
2021-08-21 00:03:54,541 Executing cora1_spark_sql/0268_feature_1_2_37.sql...
2021-08-21 00:04:00,099 Executing cora1_spark_sql/0269_feature_1_2_38.sql...
2021-08-21 00:04:04,888 Executing cora1_spark_sql/0270_feature_1_2_39.sql...
2021-08-21 00:04:09,840 Executing cora1_spark_sql/0271_feature_1_2_40.sql...
2021-08-21 00:04:20,012 Executing cora1_spark_sql/0272_feature_1_2_41.sql...
2021-08-21 00:04:30,474 Executing cora1_spark_sql/0273_feature_1_2_42.sql...
2021-08-21 00:04:36,202 Executing cora1_spark_sql/0274_feature_1_2_43.sql...
2021-08-21 00:04:42,838 Executing cora1_spark_sql/0275_feature_1_2_44.sql...
2021-08-21 00:04:47,934 Executing cora1_spark_sql/0276_feature_1_2_45.sql...
2021-08-21 00:04:53,517 Executing cora1_spark_sql/0277_feature_1_2_46.sql...
2021-08-21 00:04:59,451 Executing cora1_spark_sql/0278_feature_1_2_47.sql...
2021-08-21 00:05:04,949 Executing cora1_spark_sql/0279_feature_1_2_48.sql...
2021-08-21 00:05:10,879 Executing cora1_spark_sql/0280_feature_1_2_49.sql...
2021-08-21 00:05:21,124 Executing cora1_spark_sql/0281_feature_1_2_50.sql...
2021-08-21 00:05:31,854 Executing cora1_spark_sql/0282_feature_1_2_51.sql...
2021-08-21 00:05:37,859 Executing cora1_spark_sql/0283_feature_1_2_52.sql...
2021-08-21 00:05:44,063 Executing cora1_spark_sql/0284_feature_1_2_53.sql...
2021-08-21 00:05:49,748 Executing cora1_spark_sql/0285_feature_1_2_54.sql...
2021-08-21 00:05:55,066 Executing cora1_spark_sql/0286_feature_1_2_55.sql...
2021-08-21 00:06:01,102 Executing cora1_spark_sql/0287_feature_1_2_56.sql...
2021-08-21 00:06:07,294 Executing cora1_spark_sql/0288_feature_1_2_57.sql...
2021-08-21 00:06:13,169 Executing cora1_spark_sql/0289_feature_1_2_58.sql...
2021-08-21 00:06:23,638 Executing cora1_spark_sql/0290_feature_1_2_59.sql...
2021-08-21 00:06:34,015 Executing cora1_spark_sql/0291_feature_1_2_60.sql...
2021-08-21 00:06:39,764 Executing cora1_spark_sql/0292_feature_1_2_61.sql...
2021-08-21 00:06:45,608 Executing cora1_spark_sql/0293_feature_1_2_62.sql...
2021-08-21 00:06:51,044 Executing cora1_spark_sql/0294_feature_1_2_63.sql...
2021-08-21 00:06:56,389 Executing cora1_spark_sql/0295_feature_1_2_64.sql...
2021-08-21 00:07:01,673 Executing cora1_spark_sql/0296_feature_1_2_65.sql...
2021-08-21 00:07:07,284 Executing cora1_spark_sql/0297_feature_1_2_66.sql...
2021-08-21 00:07:12,187 Executing cora1_spark_sql/0298_feature_1_2_67.sql...
2021-08-21 00:07:21,565 Executing cora1_spark_sql/0299_feature_1_2_68.sql...
2021-08-21 00:07:31,459 Executing cora1_spark_sql/0300_feature_1_2_69.sql...
2021-08-21 00:07:36,558 Executing cora1_spark_sql/0301_feature_1_2_70.sql...
2021-08-21 00:07:42,635 Executing cora1_spark_sql/0302_feature_1_2_71.sql...
2021-08-21 00:07:47,412 Executing cora1_spark_sql/0303_feature_1_2_72.sql...
2021-08-21 00:07:52,820 Executing cora1_spark_sql/0304_feature_1_2_73.sql...
2021-08-21 00:07:57,727 Executing cora1_spark_sql/0305_feature_1_2_74.sql...
2021-08-21 00:08:02,801 Executing cora1_spark_sql/0306_feature_1_2_75.sql...
2021-08-21 00:08:08,157 Executing cora1_spark_sql/0307_feature_1_2_76.sql...
2021-08-21 00:08:17,412 Executing cora1_spark_sql/0308_feature_1_2_77.sql...

2021-08-21 00:08:27,777 Executing cora1_spark_sql/0309_feature_1_2_78.sql...
2021-08-21 00:08:32,633 Executing cora1_spark_sql/0310_feature_1_2_79.sql...
2021-08-21 00:08:38,650 Executing cora1_spark_sql/0311_feature_1_2_80.sql...
2021-08-21 00:08:43,967 Executing cora1_spark_sql/0312_feature_1_2_81.sql...
2021-08-21 00:08:49,032 Executing cora1_spark_sql/0313_feature_1_2_82.sql...
2021-08-21 00:08:54,085 Executing cora1_spark_sql/0314_feature_1_2_83.sql...
2021-08-21 00:08:59,548 Executing cora1_spark_sql/0315_feature_1_2_84.sql...
2021-08-21 00:09:04,630 Executing cora1_spark_sql/0316_feature_1_2_85.sql...
2021-08-21 00:09:13,644 Executing cora1_spark_sql/0317_feature_1_2_86.sql...
2021-08-21 00:09:23,353 Executing cora1_spark_sql/0318_feature_1_2_87.sql...
2021-08-21 00:09:28,168 Executing cora1_spark_sql/0319_feature_1_2_88.sql...
2021-08-21 00:09:34,168 Executing cora1_spark_sql/0320_feature_1_2_89.sql...
2021-08-21 00:09:38,929 Executing cora1_spark_sql/0321_feature_1_2_90.sql...
2021-08-21 00:09:44,094 Executing cora1_spark_sql/0322_feature_1_2_91.sql...
2021-08-21 00:09:49,289 Executing cora1_spark_sql/0323_feature_1_2_92.sql...
2021-08-21 00:09:54,167 Executing cora1_spark_sql/0324_feature_1_2_93.sql...
2021-08-21 00:09:59,353 Executing cora1_spark_sql/0325_feature_1_2_94.sql...
2021-08-21 00:10:08,458 Executing cora1_spark_sql/0326_feature_1_2_95.sql...
2021-08-21 00:10:18,162 Executing cora1_spark_sql/0327_feature_1_2_96.sql...
2021-08-21 00:10:23,462 Executing cora1_spark_sql/0328_feature_1_2_97.sql...
2021-08-21 00:10:28,936 Executing cora1_spark_sql/0329_feature_1_2_98.sql...
2021-08-21 00:10:34,218 Executing cora1_spark_sql/0330_feature_1_2_99.sql...
2021-08-21 00:10:39,053 Executing cora1_spark_sql/0331_feature_1_2_100.sql...
2021-08-21 00:10:44,650 Executing cora1_spark_sql/0332_feature_1_2_101.sql...
2021-08-21 00:10:49,586 Executing cora1_spark_sql/0333_feature_1_2_102.sql...
2021-08-21 00:10:54,495 Executing cora1_spark_sql/0334_feature_1_2_103.sql...
2021-08-21 00:11:03,561 Executing cora1_spark_sql/0335_feature_1_2_104.sql...
2021-08-21 00:11:13,075 Executing cora1_spark_sql/0336_feature_1_2_105.sql...
2021-08-21 00:11:18,401 Executing cora1_spark_sql/0337_feature_1_2_106.sql...
2021-08-21 00:11:24,027 Executing cora1_spark_sql/0338_feature_1_2_107.sql...
2021-08-21 00:11:29,260 Executing cora1_spark_sql/0339_feature_1_2_108.sql...
2021-08-21 00:11:34,214 Executing cora1_spark_sql/0340_feature_1_2_109.sql...
2021-08-21 00:11:39,244 Executing cora1_spark_sql/0341_feature_1_2_110.sql...
2021-08-21 00:11:44,281 Executing cora1_spark_sql/0342_feature_1_2_111.sql...
2021-08-21 00:11:49,302 Executing cora1_spark_sql/0343_feature_1_2_112.sql...
2021-08-21 00:11:58,699 Executing cora1_spark_sql/0344_feature_1_2_113.sql...
2021-08-21 00:12:08,271 Executing cora1_spark_sql/0345_feature_1_2_114.sql...
2021-08-21 00:12:13,363 Executing cora1_spark_sql/0346_feature_1_2_115.sql...
2021-08-21 00:12:19,614 Executing cora1_spark_sql/0347_feature_1_2_116.sql...
2021-08-21 00:12:24,386 Executing cora1_spark_sql/0348_feature_1_2_117.sql...
2021-08-21 00:12:29,518 Executing cora1_spark_sql/0349_feature_1_2_118.sql...
2021-08-21 00:12:34,544 Executing cora1_spark_sql/0350_feature_1_2_119.sql...
2021-08-21 00:12:39,620 Executing cora1_spark_sql/0351_feature_1_2_120.sql...
2021-08-21 00:12:44,475 Executing cora1_spark_sql/0352_feature_1_2_121.sql...
2021-08-21 00:12:53,053 Executing cora1_spark_sql/0353_feature_1_2_122.sql...
2021-08-21 00:13:03,045 Executing cora1_spark_sql/0354_feature_1_2_123.sql...
2021-08-21 00:13:07,964 Executing cora1_spark_sql/0355_feature_1_2_124.sql...
2021-08-21 00:13:13,566 Executing cora1_spark_sql/0356_feature_1_2_125.sql...
2021-08-21 00:13:18,685 Executing cora1_spark_sql/0357_feature_1_2_126.sql...
2021-08-21 00:13:23,794 Executing cora1_spark_sql/0358_feature_1_2_127.sql...
2021-08-21 00:13:28,744 Executing cora1_spark_sql/0359_feature_1_2_128.sql...
2021-08-21 00:13:33,557 Executing cora1_spark_sql/0360_feature_1_2_129.sql...
2021-08-21 00:13:38,491 Executing cora1_spark_sql/0361_feature_1_2_130.sql...
2021-08-21 00:13:47,665 Executing cora1_spark_sql/0362_feature_1_2_131.sql...
2021-08-21 00:13:57,063 Executing cora1_spark_sql/0363_feature_1_2_132.sql...
2021-08-21 00:14:02,124 Executing cora1_spark_sql/0364_feature_1_2_133.sql...
2021-08-21 00:14:07,549 Executing cora1_spark_sql/0365_feature_1_2_134.sql...
2021-08-21 00:14:12,458 Executing cora1_spark_sql/0366_feature_1_2_135.sql...
2021-08-21 00:14:17,708 Executing cora1_spark_sql/0367_feature_1_2_136.sql...
2021-08-21 00:14:22,719 Executing cora1_spark_sql/0368_feature_1_2_137.sql...
2021-08-21 00:14:27,673 Executing cora1_spark_sql/0369_feature_1_2_138.sql...
2021-08-21 00:14:32,339 Executing cora1_spark_sql/0370_feature_1_2_139.sql...
2021-08-21 00:14:41,536 Executing cora1_spark_sql/0371_feature_1_2_140.sql...
2021-08-21 00:14:51,417 Executing cora1_spark_sql/0372_feature_1_2_141.sql...
2021-08-21 00:14:56,410 Executing cora1_spark_sql/0373_feature_1_2_142.sql...
2021-08-21 00:15:02,292 Executing cora1_spark_sql/0374_feature_1_2_143.sql...
2021-08-21 00:15:07,275 Executing cora1_spark_sql/0375_feature_1_2_144.sql...
2021-08-21 00:15:12,491 Executing cora1_spark_sql/0376_feature_1_2_145.sql...
2021-08-21 00:15:17,736 Executing cora1_spark_sql/0377_feature_1_2_146.sql...
2021-08-21 00:15:22,584 Executing cora1_spark_sql/0378_feature_1_2_147.sql...
2021-08-21 00:15:27,799 Executing cora1_spark_sql/0379_feature_1_2_148.sql...
2021-08-21 00:15:36,751 Executing cora1_spark_sql/0380_feature_1_2_149.sql...
2021-08-21 00:15:46,348 Executing cora1_spark_sql/0381_feature_1_2_150.sql...
2021-08-21 00:15:51,580 Executing cora1_spark_sql/0382_feature_1_2_151.sql...
2021-08-21 00:15:57,046 Executing cora1_spark_sql/0383_feature_1_2_152.sql...
2021-08-21 00:16:02,380 Executing cora1_spark_sql/0384_feature_1_2_153.sql...
2021-08-21 00:16:07,432 Executing cora1_spark_sql/0385_feature_1_2_154.sql...
2021-08-21 00:16:12,446 Executing cora1_spark_sql/0386_feature_1_2_155.sql...
2021-08-21 00:16:17,616 Executing cora1_spark_sql/0387_feature_1_2_156.sql...
2021-08-21 00:16:22,528 Executing cora1_spark_sql/0388_feature_1_2_157.sql...
2021-08-21 00:16:31,547 Executing cora1_spark_sql/0389_feature_1_2_158.sql...
2021-08-21 00:16:41,218 Executing cora1_spark_sql/0390_feature_1_2_159.sql...
2021-08-21 00:16:46,268 Executing cora1_spark_sql/0391_feature_1_2_160.sql...
2021-08-21 00:16:52,214 Executing cora1_spark_sql/0392_feature_1_2_161.sql...
2021-08-21 00:16:57,187 Executing cora1_spark_sql/0393_feature_1_2_162.sql...
2021-08-21 00:17:02,406 Executing cora1_spark_sql/0394_feature_1_2_163.sql...
2021-08-21 00:17:07,314 Executing cora1_spark_sql/0395_feature_1_2_164.sql...
2021-08-21 00:17:12,284 Executing cora1_spark_sql/0396_feature_1_2_165.sql...
2021-08-21 00:17:17,365 Executing cora1_spark_sql/0397_feature_1_2_166.sql...
2021-08-21 00:17:26,002 Executing cora1_spark_sql/0398_feature_1_2_167.sql...
2021-08-21 00:17:35,605 Executing cora1_spark_sql/0399_feature_1_2_168.sql...
2021-08-21 00:17:40,461 Executing cora1_spark_sql/0400_feature_1_2_169.sql...
2021-08-21 00:17:46,056 Executing cora1_spark_sql/0401_feature_1_2_170.sql...
2021-08-21 00:17:51,220 Executing cora1_spark_sql/0402_feature_1_2_171.sql...
2021-08-21 00:17:56,331 Executing cora1_spark_sql/0403_feature_1_2_172.sql...
2021-08-21 00:18:01,519 Executing cora1_spark_sql/0404_feature_1_2_173.sql...
2021-08-21 00:18:06,285 Executing cora1_spark_sql/0405_feature_1_2_174.sql...
2021-08-21 00:18:11,444 Executing cora1_spark_sql/0406_feature_1_2_175.sql...
2021-08-21 00:18:21,074 Executing cora1_spark_sql/0407_feature_1_2_176.sql...
2021-08-21 00:18:30,377 Executing cora1_spark_sql/0408_feature_1_2_177.sql...
2021-08-21 00:18:35,385 Executing cora1_spark_sql/0409_feature_1_2_178.sql...
2021-08-21 00:18:41,177 Executing cora1_spark_sql/0410_feature_1_2_179.sql...
2021-08-21 00:18:46,245 Executing cora1_spark_sql/0411_feature_1_2_180.sql...
2021-08-21 00:18:51,611 Executing cora1_spark_sql/0412_feature_1_2_181.sql...
2021-08-21 00:18:56,549 Executing cora1_spark_sql/0413_feature_1_2_182.sql...
2021-08-21 00:19:01,561 Executing cora1_spark_sql/0414_feature_1_2_183.sql...

2021-08-21 00:19:06,342 Executing cora1_spark_sql/0415_feature_1_2_184.sql...
2021-08-21 00:19:15,300 Executing cora1_spark_sql/0416_feature_1_2_185.sql...
2021-08-21 00:19:25,209 Executing cora1_spark_sql/0417_feature_1_2_186.sql...
2021-08-21 00:19:30,045 Executing cora1_spark_sql/0418_feature_1_2_187.sql...
2021-08-21 00:19:35,909 Executing cora1_spark_sql/0419_feature_1_2_188.sql...
2021-08-21 00:19:40,800 Executing cora1_spark_sql/0420_feature_1_2_189.sql...
2021-08-21 00:19:45,957 Executing cora1_spark_sql/0421_feature_1_2_190.sql...
2021-08-21 00:19:51,117 Executing cora1_spark_sql/0422_feature_1_2_191.sql...
2021-08-21 00:19:56,373 Executing cora1_spark_sql/0423_feature_1_2_192.sql...
2021-08-21 00:20:01,293 Executing cora1_spark_sql/0424_feature_1_1.sql...
2021-08-21 00:20:05,759 Executing cora1_spark_sql/0425_feature_1_2.sql...
2021-08-21 00:20:09,690 Executing cora1_spark_sql/0426_feature_1_3.sql...
2021-08-21 00:20:14,464 Executing cora1_spark_sql/0427_feature_1_4.sql...
2021-08-21 00:20:18,351 Executing cora1_spark_sql/0428_feature_1_5.sql...
2021-08-21 00:20:22,707 Executing cora1_spark_sql/0429_feature_1_6.sql...
2021-08-21 00:20:26,857 Executing cora1_spark_sql/0430_feature_1_7.sql...
2021-08-21 00:20:30,868 Executing cora1_spark_sql/0431_feature_1_8.sql...
2021-08-21 00:20:35,209 Executing cora1_spark_sql/0432_feature_1_9.sql...
2021-08-21 00:20:39,242 Executing cora1_spark_sql/0433_feature_1_10.sql...
2021-08-21 00:20:43,673 Executing cora1_spark_sql/0434_feature_1_11.sql...
2021-08-21 00:20:47,413 Executing cora1_spark_sql/0435_feature_1_12.sql...
2021-08-21 00:20:51,451 Executing cora1_spark_sql/0436_feature_1_13.sql...
2021-08-21 00:20:56,140 Executing cora1_spark_sql/0437_feature_1_14.sql...
2021-08-21 00:21:00,072 Executing cora1_spark_sql/0438_feature_1_15.sql...
2021-08-21 00:21:04,530 Executing cora1_spark_sql/0439_feature_1_16.sql...
2021-08-21 00:21:08,283 Executing cora1_spark_sql/0440_feature_1_17.sql...
2021-08-21 00:21:12,257 Executing cora1_spark_sql/0441_feature_1_18.sql...
2021-08-21 00:21:16,804 Executing cora1_spark_sql/0442_feature_1_19.sql...
2021-08-21 00:21:20,574 Executing cora1_spark_sql/0443_feature_1_20.sql...
2021-08-21 00:21:24,890 Executing cora1_spark_sql/0444_feature_1_21.sql...
2021-08-21 00:21:28,912 Executing cora1_spark_sql/0445_feature_1_22.sql...
2021-08-21 00:21:33,490 Executing cora1_spark_sql/0446_feature_1_23.sql...
2021-08-21 00:21:37,587 Executing cora1_spark_sql/0447_feature_1_24.sql...
2021-08-21 00:21:41,822 Executing cora1_spark_sql/0448_feature_1_25.sql...
2021-08-21 00:21:46,213 Executing cora1_spark_sql/0449_feature_1_26.sql...
2021-08-21 00:21:50,134 Executing cora1_spark_sql/0450_feature_1_27.sql...
2021-08-21 00:21:54,480 Executing cora1_spark_sql/0451_feature_1_28.sql...
2021-08-21 00:21:58,669 Executing cora1_spark_sql/0452_feature_1_29.sql...
2021-08-21 00:22:02,613 Executing cora1_spark_sql/0453_feature_1_30.sql...
2021-08-21 00:22:06,668 Executing cora1_spark_sql/0454_feature_1_31.sql...
2021-08-21 00:22:11,024 Executing cora1_spark_sql/0455_feature_1_32.sql...
2021-08-21 00:22:15,113 Executing cora1_spark_sql/0456_feature_1_33.sql...
2021-08-21 00:22:19,351 Executing cora1_spark_sql/0457_feature_1_34.sql...
2021-08-21 00:22:23,307 Executing cora1_spark_sql/0458_feature_1_35.sql...
2021-08-21 00:22:27,403 Executing cora1_spark_sql/0459_feature_1_36.sql...
2021-08-21 00:22:31,880 Executing cora1_spark_sql/0460_feature_1_37.sql...
2021-08-21 00:22:36,290 Executing cora1_spark_sql/0461_feature_1_38.sql...
2021-08-21 00:22:40,712 Executing cora1_spark_sql/0462_feature_1_39.sql...
2021-08-21 00:22:45,146 Executing cora1_spark_sql/0463_feature_1_40.sql...
2021-08-21 00:22:49,456 Executing cora1_spark_sql/0464_feature_1_41.sql...
2021-08-21 00:22:54,117 Executing cora1_spark_sql/0465_feature_1_42.sql...
2021-08-21 00:22:59,180 Executing cora1_spark_sql/0466_feature_1_43.sql...
2021-08-21 00:23:03,740 Executing cora1_spark_sql/0467_feature_1_44.sql...
2021-08-21 00:23:08,295 Executing cora1_spark_sql/0468_feature_1_45.sql...
2021-08-21 00:23:12,381 Executing cora1_spark_sql/0469_feature_1_46.sql...
2021-08-21 00:23:16,861 Executing cora1_spark_sql/0470_feature_1_47.sql...
2021-08-21 00:23:21,085 Executing cora1_spark_sql/0471_feature_1_48.sql...
2021-08-21 00:23:25,793 Executing cora1_spark_sql/0472_feature_1_49.sql...
2021-08-21 00:23:30,314 Executing cora1_spark_sql/0473_feature_1_50.sql...
2021-08-21 00:23:34,591 Executing cora1_spark_sql/0474_feature_1_51.sql...
2021-08-21 00:23:38,847 Executing cora1_spark_sql/0475_feature_1_52.sql...
2021-08-21 00:23:43,127 Executing cora1_spark_sql/0476_feature_1_53.sql...
2021-08-21 00:23:47,377 Executing cora1_spark_sql/0477_feature_1_54.sql...
2021-08-21 00:23:52,129 Executing cora1_spark_sql/0478_feature_1_55.sql...
2021-08-21 00:23:56,209 Executing cora1_spark_sql/0479_feature_1_56.sql...
2021-08-21 00:24:00,479 Executing cora1_spark_sql/0480_feature_1_57.sql...
2021-08-21 00:24:04,520 Executing cora1_spark_sql/0481_feature_1_58.sql...
2021-08-21 00:24:08,742 Executing cora1_spark_sql/0482_feature_1_59.sql...
2021-08-21 00:24:12,974 Executing cora1_spark_sql/0483_feature_1_60.sql...
2021-08-21 00:24:17,706 Executing cora1_spark_sql/0484_feature_1_61.sql...
2021-08-21 00:24:21,876 Executing cora1_spark_sql/0485_feature_1_62.sql...
2021-08-21 00:24:26,293 Executing cora1_spark_sql/0486_feature_1_63.sql...
2021-08-21 00:24:31,085 Executing cora1_spark_sql/0487_feature_1_64.sql...
2021-08-21 00:24:35,046 Executing cora1_spark_sql/0488_feature_1_65.sql...
2021-08-21 00:24:39,273 Executing cora1_spark_sql/0489_feature_1_66.sql...
2021-08-21 00:24:44,162 Executing cora1_spark_sql/0490_feature_1_67.sql...
2021-08-21 00:24:48,437 Executing cora1_spark_sql/0491_feature_1_68.sql...
2021-08-21 00:24:52,825 Executing cora1_spark_sql/0492_feature_1_69.sql...
2021-08-21 00:24:56,989 Executing cora1_spark_sql/0493_feature_1_70.sql...
2021-08-21 00:25:01,050 Executing cora1_spark_sql/0494_feature_1_71.sql...
2021-08-21 00:25:05,396 Executing cora1_spark_sql/0495_feature_1_72.sql...
2021-08-21 00:25:09,906 Executing cora1_spark_sql/0496_feature_1_73.sql...
2021-08-21 00:25:14,391 Executing cora1_spark_sql/0497_feature_1_74.sql...
2021-08-21 00:25:19,109 Executing cora1_spark_sql/0498_feature_1_75.sql...
2021-08-21 00:25:23,608 Executing cora1_spark_sql/0499_feature_1_76.sql...
2021-08-21 00:25:28,562 Executing cora1_spark_sql/0500_feature_1_77.sql...
2021-08-21 00:25:33,493 Executing cora1_spark_sql/0501_feature_1_78.sql...
2021-08-21 00:25:39,096 Executing cora1_spark_sql/0502_feature_1_79.sql...
2021-08-21 00:25:43,804 Executing cora1_spark_sql/0503_feature_1_80.sql...
2021-08-21 00:25:48,623 Executing cora1_spark_sql/0504_feature_1_81.sql...
2021-08-21 00:25:54,087 Executing cora1_spark_sql/0505_feature_1_82.sql...
2021-08-21 00:25:58,664 Executing cora1_spark_sql/0506_feature_1_83.sql...
2021-08-21 00:26:03,263 Executing cora1_spark_sql/0507_feature_1_84.sql...
2021-08-21 00:26:08,020 Executing cora1_spark_sql/0508_feature_1_85.sql...
2021-08-21 00:26:12,682 Executing cora1_spark_sql/0509_feature_1_86.sql...
2021-08-21 00:26:17,695 Executing cora1_spark_sql/0510_feature_1_87.sql...
2021-08-21 00:26:22,634 Executing cora1_spark_sql/0511_feature_1_88.sql...
2021-08-21 00:26:27,504 Executing cora1_spark_sql/0512_feature_1_89.sql...
2021-08-21 00:26:32,323 Executing cora1_spark_sql/0513_feature_1_90.sql...
2021-08-21 00:26:36,963 Executing cora1_spark_sql/0514_feature_1_91.sql...
2021-08-21 00:26:41,954 Executing cora1_spark_sql/0515_feature_1_92.sql...
2021-08-21 00:26:46,495 Executing cora1_spark_sql/0516_feature_1_93.sql...
2021-08-21 00:26:51,418 Executing cora1_spark_sql/0517_feature_1_94.sql...
2021-08-21 00:26:56,308 Executing cora1_spark_sql/0518_feature_1_95.sql...
2021-08-21 00:27:01,032 Executing cora1_spark_sql/0519_feature_1_96.sql...
2021-08-21 00:27:05,644 Executing cora1_spark_sql/0520_feature_1_97.sql...
2021-08-21 00:27:10,818 Executing cora1_spark_sql/0521_feature_1_98.sql...
2021-08-21 00:27:15,588 Executing cora1_spark_sql/0522_feature_1_99.sql...
2021-08-21 00:27:20,301 Executing cora1_spark_sql/0523_feature_1_100.sql...

2021-08-21 00:27:24,936 Executing cora1_spark_sql/0524_feature_1_101.sql...
2021-08-21 00:27:29,480 Executing cora1_spark_sql/0525_feature_1_102.sql...
2021-08-21 00:27:34,464 Executing cora1_spark_sql/0526_feature_1_103.sql...
2021-08-21 00:27:39,464 Executing cora1_spark_sql/0527_feature_1_104.sql...
2021-08-21 00:27:43,710 Executing cora1_spark_sql/0528_feature_1_105.sql...
2021-08-21 00:27:48,630 Executing cora1_spark_sql/0529_feature_1_106.sql...
2021-08-21 00:27:53,319 Executing cora1_spark_sql/0530_feature_1_107.sql...
2021-08-21 00:27:57,995 Executing cora1_spark_sql/0531_feature_1_108.sql...
2021-08-21 00:28:02,996 Executing cora1_spark_sql/0532_feature_1_109.sql...
2021-08-21 00:28:07,615 Executing cora1_spark_sql/0533_feature_1_110.sql...
2021-08-21 00:28:12,383 Executing cora1_spark_sql/0534_feature_1_111.sql...
2021-08-21 00:28:17,269 Executing cora1_spark_sql/0535_feature_1_112.sql...
2021-08-21 00:28:21,825 Executing cora1_spark_sql/0536_feature_1_113.sql...
2021-08-21 00:28:26,763 Executing cora1_spark_sql/0537_feature_1_114.sql...
2021-08-21 00:28:31,433 Executing cora1_spark_sql/0538_feature_1_115.sql...
2021-08-21 00:28:35,971 Executing cora1_spark_sql/0539_feature_1_116.sql...
2021-08-21 00:28:40,662 Executing cora1_spark_sql/0540_feature_1_117.sql...
2021-08-21 00:28:45,194 Executing cora1_spark_sql/0541_feature_1_118.sql...
2021-08-21 00:28:50,073 Executing cora1_spark_sql/0542_feature_1_119.sql...
2021-08-21 00:28:54,407 Executing cora1_spark_sql/0543_feature_1_120.sql...
2021-08-21 00:28:58,998 Executing cora1_spark_sql/0544_feature_1_121.sql...
2021-08-21 00:29:03,369 Executing cora1_spark_sql/0545_feature_1_122.sql...
2021-08-21 00:29:08,026 Executing cora1_spark_sql/0546_feature_1_123.sql...
2021-08-21 00:29:13,329 Executing cora1_spark_sql/0547_feature_1_124.sql...
2021-08-21 00:29:17,961 Executing cora1_spark_sql/0548_feature_1_125.sql...
2021-08-21 00:29:22,777 Executing cora1_spark_sql/0549_feature_1_126.sql...
2021-08-21 00:29:27,335 Executing cora1_spark_sql/0550_feature_1_127.sql...
2021-08-21 00:29:32,355 Executing cora1_spark_sql/0551_feature_1_128.sql...
2021-08-21 00:29:37,223 Executing cora1_spark_sql/0552_feature_1_129.sql...
2021-08-21 00:29:41,902 Executing cora1_spark_sql/0553_feature_1_130.sql...
2021-08-21 00:29:46,815 Executing cora1_spark_sql/0554_feature_1_131.sql...
2021-08-21 00:29:51,361 Executing cora1_spark_sql/0555_feature_1_132.sql...
2021-08-21 00:29:56,232 Executing cora1_spark_sql/0556_feature_1_133.sql...
2021-08-21 00:30:01,340 Executing cora1_spark_sql/0557_feature_1_134.sql...
2021-08-21 00:30:06,067 Executing cora1_spark_sql/0558_feature_1_135.sql...
2021-08-21 00:30:10,809 Executing cora1_spark_sql/0559_feature_1_136.sql...
2021-08-21 00:30:15,768 Executing cora1_spark_sql/0560_feature_1_137.sql...
2021-08-21 00:30:20,569 Executing cora1_spark_sql/0561_feature_1_138.sql...
2021-08-21 00:30:25,709 Executing cora1_spark_sql/0562_feature_1_139.sql...
2021-08-21 00:30:30,749 Executing cora1_spark_sql/0563_feature_1_140.sql...
2021-08-21 00:30:35,698 Executing cora1_spark_sql/0564_feature_1_141.sql...
2021-08-21 00:30:40,285 Executing cora1_spark_sql/0565_feature_1_142.sql...
2021-08-21 00:30:44,762 Executing cora1_spark_sql/0566_feature_1_143.sql...
2021-08-21 00:30:49,568 Executing cora1_spark_sql/0567_feature_1_144.sql...
2021-08-21 00:30:54,759 Executing cora1_spark_sql/0568_feature_1_145.sql...
2021-08-21 00:30:58,364 Executing cora1_spark_sql/0569_feature_1_146.sql...
2021-08-21 00:31:01,852 Executing cora1_spark_sql/0570_feature_1_147.sql...
2021-08-21 00:31:05,792 Executing cora1_spark_sql/0571_feature_1_148.sql...
2021-08-21 00:31:09,665 Executing cora1_spark_sql/0572_feature_1_149.sql...
2021-08-21 00:31:13,116 Executing cora1_spark_sql/0573_feature_1_150.sql...
2021-08-21 00:31:16,707 Executing cora1_spark_sql/0574_feature_1_151.sql...
2021-08-21 00:31:20,151 Executing cora1_spark_sql/0575_feature_1_152.sql...
2021-08-21 00:31:24,160 Executing cora1_spark_sql/0576_feature_1_153.sql...
2021-08-21 00:31:27,885 Executing cora1_spark_sql/0577_feature_1_154.sql...
2021-08-21 00:31:31,378 Executing cora1_spark_sql/0578_feature_1_155.sql...
2021-08-21 00:31:34,763 Executing cora1_spark_sql/0579_feature_1_156.sql...
2021-08-21 00:31:38,189 Executing cora1_spark_sql/0580_feature_1_157.sql...
2021-08-21 00:31:41,620 Executing cora1_spark_sql/0581_feature_1_158.sql...
2021-08-21 00:31:45,318 Executing cora1_spark_sql/0582_feature_1_159.sql...
2021-08-21 00:31:48,718 Executing cora1_spark_sql/0583_feature_1_160.sql...
2021-08-21 00:31:52,419 Executing cora1_spark_sql/0584_feature_1_161.sql...
2021-08-21 00:31:55,778 Executing cora1_spark_sql/0585_feature_1_162.sql...
2021-08-21 00:31:59,194 Executing cora1_spark_sql/0586_feature_1_163.sql...
2021-08-21 00:32:02,946 Executing cora1_spark_sql/0587_feature_1_164.sql...
2021-08-21 00:32:06,370 Executing cora1_spark_sql/0588_feature_1_165.sql...
2021-08-21 00:32:09,991 Executing cora1_spark_sql/0589_feature_1_166.sql...
2021-08-21 00:32:13,586 Executing cora1_spark_sql/0590_feature_1_167.sql...
2021-08-21 00:32:17,039 Executing cora1_spark_sql/0591_feature_1_168.sql...
2021-08-21 00:32:21,118 Executing cora1_spark_sql/0592_feature_1_169.sql...
2021-08-21 00:32:24,672 Executing cora1_spark_sql/0593_feature_1_170.sql...
2021-08-21 00:32:28,058 Executing cora1_spark_sql/0594_feature_1_171.sql...
2021-08-21 00:32:31,964 Executing cora1_spark_sql/0595_feature_1_172.sql...
2021-08-21 00:32:35,365 Executing cora1_spark_sql/0596_feature_1_173.sql...
2021-08-21 00:32:39,487 Executing cora1_spark_sql/0597_feature_1_174.sql...
2021-08-21 00:32:42,826 Executing cora1_spark_sql/0598_feature_1_175.sql...
2021-08-21 00:32:46,521 Executing cora1_spark_sql/0599_feature_1_176.sql...
2021-08-21 00:32:50,023 Executing cora1_spark_sql/0600_feature_1_177.sql...
2021-08-21 00:32:53,597 Executing cora1_spark_sql/0601_feature_1_178.sql...
2021-08-21 00:32:57,447 Executing cora1_spark_sql/0602_feature_1_179.sql...
2021-08-21 00:33:00,807 Executing cora1_spark_sql/0603_feature_1_180.sql...
2021-08-21 00:33:04,410 Executing cora1_spark_sql/0604_feature_1_181.sql...
2021-08-21 00:33:07,916 Executing cora1_spark_sql/0605_feature_1_182.sql...
2021-08-21 00:33:11,441 Executing cora1_spark_sql/0606_feature_1_183.sql...
2021-08-21 00:33:15,195 Executing cora1_spark_sql/0607_feature_1_184.sql...
2021-08-21 00:33:18,689 Executing cora1_spark_sql/0608_feature_1_185.sql...
2021-08-21 00:33:22,311 Executing cora1_spark_sql/0609_feature_1_186.sql...
2021-08-21 00:33:25,796 Executing cora1_spark_sql/0610_feature_1_187.sql...
2021-08-21 00:33:29,389 Executing cora1_spark_sql/0611_feature_1_188.sql...
2021-08-21 00:33:33,704 Executing cora1_spark_sql/0612_feature_1_189.sql...
2021-08-21 00:33:37,014 Executing cora1_spark_sql/0613_feature_1_190.sql...
2021-08-21 00:33:40,598 Executing cora1_spark_sql/0614_feature_1_191.sql...
2021-08-21 00:33:44,229 Executing cora1_spark_sql/0615_feature_1_192.sql...
2021-08-21 00:33:47,633 Executing cora1_spark_sql/0616_feature_1_193.sql...
2021-08-21 00:33:51,287 Executing cora1_spark_sql/0617_feature_1_194.sql...
2021-08-21 00:33:54,913 Executing cora1_spark_sql/0618_feature_1_195.sql...
2021-08-21 00:33:58,365 Executing cora1_spark_sql/0619_feature_1_196.sql...
2021-08-21 00:34:02,157 Executing cora1_spark_sql/0620_feature_1_197.sql...
2021-08-21 00:34:05,641 Executing cora1_spark_sql/0621_feature_1_198.sql...
2021-08-21 00:34:09,379 Executing cora1_spark_sql/0622_feature_1_199.sql...
2021-08-21 00:34:13,049 Executing cora1_spark_sql/0623_feature_1_200.sql...
2021-08-21 00:34:16,538 Executing cora1_spark_sql/0624_features_batch_1.sql...
2021-08-21 00:34:47,593 Executing cora1_spark_sql/0625_features_batch_2.sql...
2021-08-21 00:35:15,733 Executing cora1_spark_sql/0626_features_batch_3.sql...
2021-08-21 00:35:44,807 Executing cora1_spark_sql/0627_features_batch_4.sql...
2021-08-21 00:36:13,571 Executing cora1_spark_sql/0628_features.sql...

In [31]:
begin = time.time()
getml.spark.execute(spark, "cora2_spark_sql")
end = time.time()

spark_runtime2 = datetime.timedelta(seconds=end - begin)

2021-08-21 00:38:14,200 Executing cora2_spark_sql/0001_population__staging_table_1.sql...
2021-08-21 00:38:14,802 Executing cora2_spark_sql/0002_cites__staging_table_2.sql...
2021-08-21 00:38:18,340 Executing cora2_spark_sql/0003_cites__staging_table_3.sql...
2021-08-21 00:38:22,284 Executing cora2_spark_sql/0004_content__staging_table_4.sql...
2021-08-21 00:38:22,762 Executing cora2_spark_sql/0005_feature_1_1_1.sql...
2021-08-21 00:38:29,309 Executing cora2_spark_sql/0006_feature_1_1_2.sql...
2021-08-21 00:38:35,119 Executing cora2_spark_sql/0007_feature_1_1_3.sql...
2021-08-21 00:38:40,512 Executing cora2_spark_sql/0008_feature_1_1_4.sql...
2021-08-21 00:38:45,999 Executing cora2_spark_sql/0009_feature_1_1_5.sql...
2021-08-21 00:38:51,310 Executing cora2_spark_sql/0010_feature_1_1_6.sql...
2021-08-21 00:38:56,335 Executing cora2_spark_sql/0011_feature_1_1_7.sql...
2021-08-21 00:39:01,662 Executing cora2_spark_sql/0012_feature_1_1_8.sql...
2021-08-21 00:39:06,757 Executing cora2_spark_sql/0013_feature_1_1_9.sql...
2021-08-21 00:39:12,197 Executing cora2_spark_sql/0014_feature_1_1_10.sql...
2021-08-21 00:39:17,536 Executing cora2_spark_sql/0015_feature_1_1_11.sql...
2021-08-21 00:39:22,438 Executing cora2_spark_sql/0016_feature_1_1_12.sql...
2021-08-21 00:39:27,582 Executing cora2_spark_sql/0017_feature_1_1_13.sql...
2021-08-21 00:39:33,014 Executing cora2_spark_sql/0018_feature_1_1_14.sql...
2021-08-21 00:39:38,144 Executing cora2_spark_sql/0019_feature_1_1_15.sql...
2021-08-21 00:39:43,056 Executing cora2_spark_sql/0020_feature_1_1_16.sql...
2021-08-21 00:39:48,429 Executing cora2_spark_sql/0021_feature_1_1_17.sql...
2021-08-21 00:39:53,484 Executing cora2_spark_sql/0022_feature_1_1_18.sql...
2021-08-21 00:39:58,709 Executing cora2_spark_sql/0023_feature_1_1_19.sql...
2021-08-21 00:40:04,501 Executing cora2_spark_sql/0024_feature_1_1_20.sql...
2021-08-21 00:40:09,500 Executing cora2_spark_sql/0025_features_1_1.sql...
2021-08-21 00:40:26,329 Executing cora2_spark_sql/0026_feature_1_2_1.sql...
2021-08-21 00:40:32,076 Executing cora2_spark_sql/0027_feature_1_2_2.sql...
2021-08-21 00:40:37,431 Executing cora2_spark_sql/0028_feature_1_2_3.sql...
2021-08-21 00:40:42,744 Executing cora2_spark_sql/0029_feature_1_2_4.sql...
2021-08-21 00:40:48,144 Executing cora2_spark_sql/0030_feature_1_2_5.sql...
2021-08-21 00:40:53,356 Executing cora2_spark_sql/0031_feature_1_2_6.sql...
2021-08-21 00:40:58,740 Executing cora2_spark_sql/0032_feature_1_2_7.sql...
2021-08-21 00:41:04,417 Executing cora2_spark_sql/0033_feature_1_2_8.sql...
2021-08-21 00:41:10,209 Executing cora2_spark_sql/0034_feature_1_2_9.sql...
2021-08-21 00:41:16,179 Executing cora2_spark_sql/0035_feature_1_2_10.sql...
2021-08-21 00:41:21,351 Executing cora2_spark_sql/0036_feature_1_2_11.sql...
2021-08-21 00:41:26,428 Executing cora2_spark_sql/0037_feature_1_2_12.sql...
2021-08-21 00:41:31,595 Executing cora2_spark_sql/0038_feature_1_2_13.sql...
2021-08-21 00:41:36,675 Executing cora2_spark_sql/0039_feature_1_2_14.sql...
2021-08-21 00:41:42,039 Executing cora2_spark_sql/0040_feature_1_2_15.sql...
2021-08-21 00:41:47,863 Executing cora2_spark_sql/0041_feature_1_2_16.sql...
2021-08-21 00:41:53,232 Executing cora2_spark_sql/0042_feature_1_2_17.sql...
2021-08-21 00:41:58,404 Executing cora2_spark_sql/0043_feature_1_2_18.sql...
2021-08-21 00:42:04,160 Executing cora2_spark_sql/0044_feature_1_2_19.sql...
2021-08-21 00:42:09,821 Executing cora2_spark_sql/0045_feature_1_2_20.sql...
2021-08-21 00:42:15,763 Executing cora2_spark_sql/0046_features_1_2.sql...
2021-08-21 00:42:30,367 Executing cora2_spark_sql/0047_feature_1_1.sql...
2021-08-21 00:42:35,630 Executing cora2_spark_sql/0048_feature_1_2.sql...
2021-08-21 00:42:40,457 Executing cora2_spark_sql/0049_feature_1_3.sql...
2021-08-21 00:42:45,152 Executing cora2_spark_sql/0050_feature_1_4.sql...
2021-08-21 00:42:48,916 Executing cora2_spark_sql/0051_feature_1_5.sql...
2021-08-21 00:42:53,275 Executing cora2_spark_sql/0052_feature_1_6.sql...
2021-08-21 00:42:57,034 Executing cora2_spark_sql/0053_feature_1_7.sql...
2021-08-21 00:43:02,080 Executing cora2_spark_sql/0054_feature_1_8.sql...
2021-08-21 00:43:06,814 Executing cora2_spark_sql/0055_feature_1_9.sql...
2021-08-21 00:43:10,812 Executing cora2_spark_sql/0056_feature_1_10.sql...
2021-08-21 00:43:15,451 Executing cora2_spark_sql/0057_feature_2_1_1.sql...
2021-08-21 00:43:20,763 Executing cora2_spark_sql/0058_feature_2_1_2.sql...
2021-08-21 00:43:26,256 Executing cora2_spark_sql/0059_feature_2_1_3.sql...
2021-08-21 00:43:31,327 Executing cora2_spark_sql/0060_feature_2_1_4.sql...
2021-08-21 00:43:36,993 Executing cora2_spark_sql/0061_feature_2_1_5.sql...
2021-08-21 00:43:42,167 Executing cora2_spark_sql/0062_feature_2_1_6.sql...
2021-08-21 00:43:47,553 Executing cora2_spark_sql/0063_feature_2_1_7.sql...
2021-08-21 00:43:53,350 Executing cora2_spark_sql/0064_feature_2_1_8.sql...
2021-08-21 00:43:59,088 Executing cora2_spark_sql/0065_feature_2_1_9.sql...
2021-08-21 00:44:04,577 Executing cora2_spark_sql/0066_feature_2_1_10.sql...
2021-08-21 00:44:09,988 Executing cora2_spark_sql/0067_feature_2_1_11.sql...
2021-08-21 00:44:15,393 Executing cora2_spark_sql/0068_feature_2_1_12.sql...
2021-08-21 00:44:21,158 Executing cora2_spark_sql/0069_feature_2_1_13.sql...
2021-08-21 00:44:26,762 Executing cora2_spark_sql/0070_feature_2_1_14.sql...
2021-08-21 00:44:32,588 Executing cora2_spark_sql/0071_feature_2_1_15.sql...
2021-08-21 00:44:37,810 Executing cora2_spark_sql/0072_feature_2_1_16.sql...
2021-08-21 00:44:43,158 Executing cora2_spark_sql/0073_feature_2_1_17.sql...
2021-08-21 00:44:48,736 Executing cora2_spark_sql/0074_feature_2_1_18.sql...
2021-08-21 00:44:53,999 Executing cora2_spark_sql/0075_feature_2_1_19.sql...
2021-08-21 00:44:59,488 Executing cora2_spark_sql/0076_feature_2_1_20.sql...
2021-08-21 00:45:04,956 Executing cora2_spark_sql/0077_features_2_1.sql...
2021-08-21 00:45:19,743 Executing cora2_spark_sql/0078_feature_2_2_1.sql...
2021-08-21 00:45:26,442 Executing cora2_spark_sql/0079_feature_2_2_2.sql...
2021-08-21 00:45:32,256 Executing cora2_spark_sql/0080_feature_2_2_3.sql...
2021-08-21 00:45:38,263 Executing cora2_spark_sql/0081_feature_2_2_4.sql...
2021-08-21 00:45:43,902 Executing cora2_spark_sql/0082_feature_2_2_5.sql...
2021-08-21 00:45:49,133 Executing cora2_spark_sql/0083_feature_2_2_6.sql...
2021-08-21 00:45:54,870 Executing cora2_spark_sql/0084_feature_2_2_7.sql...
2021-08-21 00:46:00,199 Executing cora2_spark_sql/0085_feature_2_2_8.sql...
2021-08-21 00:46:06,136 Executing cora2_spark_sql/0086_feature_2_2_9.sql...
2021-08-21 00:46:11,608 Executing cora2_spark_sql/0087_feature_2_2_10.sql...
2021-08-21 00:46:16,962 Executing cora2_spark_sql/0088_feature_2_2_11.sql...
2021-08-21 00:46:22,940 Executing cora2_spark_sql/0089_feature_2_2_12.sql...
2021-08-21 00:46:28,362 Executing cora2_spark_sql/0090_feature_2_2_13.sql...
2021-08-21 00:46:33,943 Executing cora2_spark_sql/0091_feature_2_2_14.sql...
2021-08-21 00:46:39,418 Executing cora2_spark_sql/0092_feature_2_2_15.sql...
2021-08-21 00:46:44,653 Executing cora2_spark_sql/0093_feature_2_2_16.sql...
2021-08-21 00:46:50,693 Executing cora2_spark_sql/0094_feature_2_2_17.sql...
2021-08-21 00:46:56,030 Executing cora2_spark_sql/0095_feature_2_2_18.sql...
2021-08-21 00:47:01,588 Executing cora2_spark_sql/0096_feature_2_2_19.sql...
2021-08-21 00:47:07,036 Executing cora2_spark_sql/0097_feature_2_2_20.sql...
2021-08-21 00:47:12,611 Executing cora2_spark_sql/0098_features_2_2.sql...
2021-08-21 00:47:28,395 Executing cora2_spark_sql/0099_feature_2_1.sql...
2021-08-21 00:47:33,428 Executing cora2_spark_sql/0100_feature_2_2.sql...
2021-08-21 00:47:38,448 Executing cora2_spark_sql/0101_feature_2_3.sql...
2021-08-21 00:47:42,028 Executing cora2_spark_sql/0102_feature_2_4.sql...
2021-08-21 00:47:46,936 Executing cora2_spark_sql/0103_feature_2_5.sql...
2021-08-21 00:47:50,708 Executing cora2_spark_sql/0104_feature_2_6.sql...
2021-08-21 00:47:55,493 Executing cora2_spark_sql/0105_feature_2_7.sql...
2021-08-21 00:48:00,511 Executing cora2_spark_sql/0106_feature_2_8.sql...
2021-08-21 00:48:04,963 Executing cora2_spark_sql/0107_feature_2_9.sql...
2021-08-21 00:48:08,428 Executing cora2_spark_sql/0108_feature_2_10.sql...

2021-08-21 00:48:13,489 Executing cora2_spark_sql/0109_feature_3_1_1.sql...
2021-08-21 00:48:19,383 Executing cora2_spark_sql/0110_feature_3_1_2.sql...
2021-08-21 00:48:24,865 Executing cora2_spark_sql/0111_feature_3_1_3.sql...
2021-08-21 00:48:30,508 Executing cora2_spark_sql/0112_feature_3_1_4.sql...
2021-08-21 00:48:35,915 Executing cora2_spark_sql/0113_feature_3_1_5.sql...
2021-08-21 00:48:41,345 Executing cora2_spark_sql/0114_feature_3_1_6.sql...
2021-08-21 00:48:46,629 Executing cora2_spark_sql/0115_feature_3_1_7.sql...
2021-08-21 00:48:52,228 Executing cora2_spark_sql/0116_feature_3_1_8.sql...
2021-08-21 00:48:57,814 Executing cora2_spark_sql/0117_feature_3_1_9.sql...
2021-08-21 00:49:03,341 Executing cora2_spark_sql/0118_feature_3_1_10.sql...
2021-08-21 00:49:09,156 Executing cora2_spark_sql/0119_feature_3_1_11.sql...
2021-08-21 00:49:14,602 Executing cora2_spark_sql/0120_feature_3_1_12.sql...
2021-08-21 00:49:20,073 Executing cora2_spark_sql/0121_feature_3_1_13.sql...
2021-08-21 00:49:25,391 Executing cora2_spark_sql/0122_feature_3_1_14.sql...
2021-08-21 00:49:30,660 Executing cora2_spark_sql/0123_feature_3_1_15.sql...
2021-08-21 00:49:36,356 Executing cora2_spark_sql/0124_feature_3_1_16.sql...
2021-08-21 00:49:42,106 Executing cora2_spark_sql/0125_feature_3_1_17.sql...
2021-08-21 00:49:48,155 Executing cora2_spark_sql/0126_feature_3_1_18.sql...
2021-08-21 00:49:53,967 Executing cora2_spark_sql/0127_feature_3_1_19.sql...
2021-08-21 00:49:59,054 Executing cora2_spark_sql/0128_feature_3_1_20.sql...
2021-08-21 00:50:04,440 Executing cora2_spark_sql/0129_features_3_1.sql...
2021-08-21 00:50:19,719 Executing cora2_spark_sql/0130_feature_3_2_1.sql...
2021-08-21 00:50:25,825 Executing cora2_spark_sql/0131_feature_3_2_2.sql...
2021-08-21 00:50:31,454 Executing cora2_spark_sql/0132_feature_3_2_3.sql...
2021-08-21 00:50:37,069 Executing cora2_spark_sql/0133_feature_3_2_4.sql...
2021-08-21 00:50:42,808 Executing cora2_spark_sql/0134_feature_3_2_5.sql...
2021-08-21 00:50:48,131 Executing cora2_spark_sql/0135_feature_3_2_6.sql...
2021-08-21 00:50:53,827 Executing cora2_spark_sql/0136_feature_3_2_7.sql...
2021-08-21 00:50:58,990 Executing cora2_spark_sql/0137_feature_3_2_8.sql...
2021-08-21 00:51:04,747 Executing cora2_spark_sql/0138_feature_3_2_9.sql...
2021-08-21 00:51:10,109 Executing cora2_spark_sql/0139_feature_3_2_10.sql...
2021-08-21 00:51:15,479 Executing cora2_spark_sql/0140_feature_3_2_11.sql...
2021-08-21 00:51:20,971 Executing cora2_spark_sql/0141_feature_3_2_12.sql...
2021-08-21 00:51:26,372 Executing cora2_spark_sql/0142_feature_3_2_13.sql...
2021-08-21 00:51:31,617 Executing cora2_spark_sql/0143_feature_3_2_14.sql...
2021-08-21 00:51:37,171 Executing cora2_spark_sql/0144_feature_3_2_15.sql...
2021-08-21 00:51:42,303 Executing cora2_spark_sql/0145_feature_3_2_16.sql...
2021-08-21 00:51:47,834 Executing cora2_spark_sql/0146_feature_3_2_17.sql...
2021-08-21 00:51:53,292 Executing cora2_spark_sql/0147_feature_3_2_18.sql...
2021-08-21 00:51:58,786 Executing cora2_spark_sql/0148_feature_3_2_19.sql...
2021-08-21 00:52:03,776 Executing cora2_spark_sql/0149_feature_3_2_20.sql...
2021-08-21 00:52:09,427 Executing cora2_spark_sql/0150_features_3_2.sql...
2021-08-21 00:52:24,141 Executing cora2_spark_sql/0151_feature_3_1.sql...
2021-08-21 00:52:29,726 Executing cora2_spark_sql/0152_feature_3_2.sql...
2021-08-21 00:52:34,677 Executing cora2_spark_sql/0153_feature_3_3.sql...
2021-08-21 00:52:39,142 Executing cora2_spark_sql/0154_feature_3_4.sql...
2021-08-21 00:52:43,090 Executing cora2_spark_sql/0155_feature_3_5.sql...
2021-08-21 00:52:46,596 Executing cora2_spark_sql/0156_feature_3_6.sql...
2021-08-21 00:52:51,155 Executing cora2_spark_sql/0157_feature_3_7.sql...
2021-08-21 00:52:55,860 Executing cora2_spark_sql/0158_feature_3_8.sql...
2021-08-21 00:53:00,974 Executing cora2_spark_sql/0159_feature_3_9.sql...
2021-08-21 00:53:05,553 Executing cora2_spark_sql/0160_feature_3_10.sql...
2021-08-21 00:53:09,494 Executing cora2_spark_sql/0161_feature_4_1_1.sql...
2021-08-21 00:53:14,738 Executing cora2_spark_sql/0162_feature_4_1_2.sql...
2021-08-21 00:53:20,220 Executing cora2_spark_sql/0163_feature_4_1_3.sql...
2021-08-21 00:53:26,142 Executing cora2_spark_sql/0164_feature_4_1_4.sql...
2021-08-21 00:53:31,447 Executing cora2_spark_sql/0165_feature_4_1_5.sql...
2021-08-21 00:53:37,167 Executing cora2_spark_sql/0166_feature_4_1_6.sql...
2021-08-21 00:53:42,370 Executing cora2_spark_sql/0167_feature_4_1_7.sql...
2021-08-21 00:53:47,793 Executing cora2_spark_sql/0168_feature_4_1_8.sql...
2021-08-21 00:53:53,536 Executing cora2_spark_sql/0169_feature_4_1_9.sql...
2021-08-21 00:53:58,838 Executing cora2_spark_sql/0170_feature_4_1_10.sql...
2021-08-21 00:54:04,693 Executing cora2_spark_sql/0171_feature_4_1_11.sql...
2021-08-21 00:54:09,694 Executing cora2_spark_sql/0172_feature_4_1_12.sql...
2021-08-21 00:54:15,117 Executing cora2_spark_sql/0173_feature_4_1_13.sql...
2021-08-21 00:54:20,629 Executing cora2_spark_sql/0174_feature_4_1_14.sql...
2021-08-21 00:54:26,125 Executing cora2_spark_sql/0175_feature_4_1_15.sql...
2021-08-21 00:54:31,541 Executing cora2_spark_sql/0176_feature_4_1_16.sql...
2021-08-21 00:54:36,561 Executing cora2_spark_sql/0177_feature_4_1_17.sql...
2021-08-21 00:54:42,330 Executing cora2_spark_sql/0178_feature_4_1_18.sql...
2021-08-21 00:54:47,760 Executing cora2_spark_sql/0179_feature_4_1_19.sql...
2021-08-21 00:54:52,877 Executing cora2_spark_sql/0180_feature_4_1_20.sql...
2021-08-21 00:54:58,022 Executing cora2_spark_sql/0181_features_4_1.sql...
2021-08-21 00:55:12,837 Executing cora2_spark_sql/0182_feature_4_2_1.sql...
2021-08-21 00:55:18,452 Executing cora2_spark_sql/0183_feature_4_2_2.sql...
2021-08-21 00:55:24,150 Executing cora2_spark_sql/0184_feature_4_2_3.sql...
2021-08-21 00:55:29,573 Executing cora2_spark_sql/0185_feature_4_2_4.sql...
2021-08-21 00:55:34,994 Executing cora2_spark_sql/0186_feature_4_2_5.sql...
2021-08-21 00:55:40,461 Executing cora2_spark_sql/0187_feature_4_2_6.sql...
2021-08-21 00:55:45,802 Executing cora2_spark_sql/0188_feature_4_2_7.sql...
2021-08-21 00:55:51,206 Executing cora2_spark_sql/0189_feature_4_2_8.sql...
2021-08-21 00:55:56,588 Executing cora2_spark_sql/0190_feature_4_2_9.sql...
2021-08-21 00:56:01,643 Executing cora2_spark_sql/0191_feature_4_2_10.sql...
2021-08-21 00:56:07,178 Executing cora2_spark_sql/0192_feature_4_2_11.sql...
2021-08-21 00:56:12,222 Executing cora2_spark_sql/0193_feature_4_2_12.sql...
2021-08-21 00:56:18,000 Executing cora2_spark_sql/0194_feature_4_2_13.sql...
2021-08-21 00:56:22,917 Executing cora2_spark_sql/0195_feature_4_2_14.sql...
2021-08-21 00:56:28,449 Executing cora2_spark_sql/0196_feature_4_2_15.sql...
2021-08-21 00:56:33,469 Executing cora2_spark_sql/0197_feature_4_2_16.sql...
2021-08-21 00:56:39,045 Executing cora2_spark_sql/0198_feature_4_2_17.sql...
2021-08-21 00:56:44,961 Executing cora2_spark_sql/0199_feature_4_2_18.sql...
2021-08-21 00:56:50,221 Executing cora2_spark_sql/0200_feature_4_2_19.sql...
2021-08-21 00:56:56,066 Executing cora2_spark_sql/0201_feature_4_2_20.sql...
2021-08-21 00:57:01,374 Executing cora2_spark_sql/0202_features_4_2.sql...
2021-08-21 00:57:15,481 Executing cora2_spark_sql/0203_feature_4_1.sql...
2021-08-21 00:57:20,902 Executing cora2_spark_sql/0204_feature_4_2.sql...
2021-08-21 00:57:25,355 Executing cora2_spark_sql/0205_feature_4_3.sql...
2021-08-21 00:57:30,247 Executing cora2_spark_sql/0206_feature_4_4.sql...
2021-08-21 00:57:34,008 Executing cora2_spark_sql/0207_feature_4_5.sql...
2021-08-21 00:57:37,723 Executing cora2_spark_sql/0208_feature_4_6.sql...
2021-08-21 00:57:42,393 Executing cora2_spark_sql/0209_feature_4_7.sql...
2021-08-21 00:57:46,892 Executing cora2_spark_sql/0210_feature_4_8.sql...
2021-08-21 00:57:51,348 Executing cora2_spark_sql/0211_feature_4_9.sql...
2021-08-21 00:57:55,076 Executing cora2_spark_sql/0212_feature_4_10.sql...
2021-08-21 00:57:59,496 Executing cora2_spark_sql/0213_feature_5_1_1.sql...
2021-08-21 00:58:04,732 Executing cora2_spark_sql/0214_feature_5_1_2.sql...
2021-08-21 00:58:10,110 Executing cora2_spark_sql/0215_feature_5_1_3.sql...
2021-08-21 00:58:16,074 Executing cora2_spark_sql/0216_feature_5_1_4.sql...

2021-08-21 00:58:21,213 Executing cora2_spark_sql/0217_feature_5_1_5.sql...
2021-08-21 00:58:26,934 Executing cora2_spark_sql/0218_feature_5_1_6.sql...
2021-08-21 00:58:32,683 Executing cora2_spark_sql/0219_feature_5_1_7.sql...
2021-08-21 00:58:38,341 Executing cora2_spark_sql/0220_feature_5_1_8.sql...
2021-08-21 00:58:44,186 Executing cora2_spark_sql/0221_feature_5_1_9.sql...
2021-08-21 00:58:49,815 Executing cora2_spark_sql/0222_feature_5_1_10.sql...
2021-08-21 00:58:55,581 Executing cora2_spark_sql/0223_feature_5_1_11.sql...
2021-08-21 00:59:01,050 Executing cora2_spark_sql/0224_feature_5_1_12.sql...
2021-08-21 00:59:06,166 Executing cora2_spark_sql/0225_feature_5_1_13.sql...
2021-08-21 00:59:11,998 Executing cora2_spark_sql/0226_feature_5_1_14.sql...
2021-08-21 00:59:17,886 Executing cora2_spark_sql/0227_feature_5_1_15.sql...
2021-08-21 00:59:23,968 Executing cora2_spark_sql/0228_feature_5_1_16.sql...
2021-08-21 00:59:29,866 Executing cora2_spark_sql/0229_feature_5_1_17.sql...
2021-08-21 00:59:35,330 Executing cora2_spark_sql/0230_feature_5_1_18.sql...
2021-08-21 00:59:41,129 Executing cora2_spark_sql/0231_feature_5_1_19.sql...
2021-08-21 00:59:46,919 Executing cora2_spark_sql/0232_feature_5_1_20.sql...
2021-08-21 00:59:52,539 Executing cora2_spark_sql/0233_features_5_1.sql...
2021-08-21 01:00:06,949 Executing cora2_spark_sql/0234_feature_5_2_1.sql...
2021-08-21 01:00:12,962 Executing cora2_spark_sql/0235_feature_5_2_2.sql...
2021-08-21 01:00:18,943 Executing cora2_spark_sql/0236_feature_5_2_3.sql...
2021-08-21 01:00:24,323 Executing cora2_spark_sql/0237_feature_5_2_4.sql...
2021-08-21 01:00:29,638 Executing cora2_spark_sql/0238_feature_5_2_5.sql...
2021-08-21 01:00:35,008 Executing cora2_spark_sql/0239_feature_5_2_6.sql...
2021-08-21 01:00:40,168 Executing cora2_spark_sql/0240_feature_5_2_7.sql...
2021-08-21 01:00:45,885 Executing cora2_spark_sql/0241_feature_5_2_8.sql...
2021-08-21 01:00:51,299 Executing cora2_spark_sql/0242_feature_5_2_9.sql...
2021-08-21 01:00:56,828 Executing cora2_spark_sql/0243_feature_5_2_10.sql...
2021-08-21 01:01:02,149 Executing cora2_spark_sql/0244_feature_5_2_11.sql...
2021-08-21 01:01:06,923 Executing cora2_spark_sql/0245_feature_5_2_12.sql...
2021-08-21 01:01:12,320 Executing cora2_spark_sql/0246_feature_5_2_13.sql...
2021-08-21 01:01:17,191 Executing cora2_spark_sql/0247_feature_5_2_14.sql...
2021-08-21 01:01:22,466 Executing cora2_spark_sql/0248_feature_5_2_15.sql...
2021-08-21 01:01:27,892 Executing cora2_spark_sql/0249_feature_5_2_16.sql...
2021-08-21 01:01:33,022 Executing cora2_spark_sql/0250_feature_5_2_17.sql...
2021-08-21 01:01:38,624 Executing cora2_spark_sql/0251_feature_5_2_18.sql...
2021-08-21 01:01:43,803 Executing cora2_spark_sql/0252_feature_5_2_19.sql...
2021-08-21 01:01:49,193 Executing cora2_spark_sql/0253_feature_5_2_20.sql...
2021-08-21 01:01:54,901 Executing cora2_spark_sql/0254_features_5_2.sql...
2021-08-21 01:02:09,795 Executing cora2_spark_sql/0255_feature_5_1.sql...
2021-08-21 01:02:14,780 Executing cora2_spark_sql/0256_feature_5_2.sql...
2021-08-21 01:02:19,030 Executing cora2_spark_sql/0257_feature_5_3.sql...
2021-08-21 01:02:23,018 Executing cora2_spark_sql/0258_feature_5_4.sql...
2021-08-21 01:02:28,135 Executing cora2_spark_sql/0259_feature_5_5.sql...
2021-08-21 01:02:31,390 Executing cora2_spark_sql/0260_feature_5_6.sql...
2021-08-21 01:02:36,123 Executing cora2_spark_sql/0261_feature_5_7.sql...
2021-08-21 01:02:40,611 Executing cora2_spark_sql/0262_feature_5_8.sql...
2021-08-21 01:02:45,210 Executing cora2_spark_sql/0263_feature_5_9.sql...
2021-08-21 01:02:49,408 Executing cora2_spark_sql/0264_feature_5_10.sql...
2021-08-21 01:02:53,793 Executing cora2_spark_sql/0265_feature_6_1_1.sql...
2021-08-21 01:02:59,624 Executing cora2_spark_sql/0266_feature_6_1_2.sql...
2021-08-21 01:03:04,996 Executing cora2_spark_sql/0267_feature_6_1_3.sql...
2021-08-21 01:03:10,227 Executing cora2_spark_sql/0268_feature_6_1_4.sql...
2021-08-21 01:03:15,970 Executing cora2_spark_sql/0269_feature_6_1_5.sql...
2021-08-21 01:03:21,430 Executing cora2_spark_sql/0270_feature_6_1_6.sql...
2021-08-21 01:03:26,694 Executing cora2_spark_sql/0271_feature_6_1_7.sql...
2021-08-21 01:03:32,269 Executing cora2_spark_sql/0272_feature_6_1_8.sql...
2021-08-21 01:03:37,834 Executing cora2_spark_sql/0273_feature_6_1_9.sql...
2021-08-21 01:03:43,651 Executing cora2_spark_sql/0274_feature_6_1_10.sql...
2021-08-21 01:03:48,746 Executing cora2_spark_sql/0275_feature_6_1_11.sql...
2021-08-21 01:03:54,049 Executing cora2_spark_sql/0276_feature_6_1_12.sql...
2021-08-21 01:03:59,384 Executing cora2_spark_sql/0277_feature_6_1_13.sql...
2021-08-21 01:04:05,159 Executing cora2_spark_sql/0278_feature_6_1_14.sql...
2021-08-21 01:04:10,713 Executing cora2_spark_sql/0279_feature_6_1_15.sql...
2021-08-21 01:04:16,772 Executing cora2_spark_sql/0280_feature_6_1_16.sql...
2021-08-21 01:04:21,722 Executing cora2_spark_sql/0281_feature_6_1_17.sql...
2021-08-21 01:04:27,721 Executing cora2_spark_sql/0282_feature_6_1_18.sql...
2021-08-21 01:04:33,393 Executing cora2_spark_sql/0283_feature_6_1_19.sql...
2021-08-21 01:04:39,002 Executing cora2_spark_sql/0284_feature_6_1_20.sql...
2021-08-21 01:04:44,756 Executing cora2_spark_sql/0285_features_6_1.sql...
2021-08-21 01:04:59,624 Executing cora2_spark_sql/0286_feature_6_2_1.sql...
2021-08-21 01:05:05,941 Executing cora2_spark_sql/0287_feature_6_2_2.sql...
2021-08-21 01:05:11,312 Executing cora2_spark_sql/0288_feature_6_2_3.sql...
2021-08-21 01:05:16,878 Executing cora2_spark_sql/0289_feature_6_2_4.sql...
2021-08-21 01:05:22,016 Executing cora2_spark_sql/0290_feature_6_2_5.sql...
2021-08-21 01:05:27,490 Executing cora2_spark_sql/0291_feature_6_2_6.sql...
2021-08-21 01:05:33,418 Executing cora2_spark_sql/0292_feature_6_2_7.sql...
2021-08-21 01:05:38,903 Executing cora2_spark_sql/0293_feature_6_2_8.sql...
2021-08-21 01:05:44,511 Executing cora2_spark_sql/0294_feature_6_2_9.sql...
2021-08-21 01:05:50,354 Executing cora2_spark_sql/0295_feature_6_2_10.sql...
2021-08-21 01:05:56,147 Executing cora2_spark_sql/0296_feature_6_2_11.sql...
2021-08-21 01:06:01,382 Executing cora2_spark_sql/0297_feature_6_2_12.sql...
2021-08-21 01:06:06,540 Executing cora2_spark_sql/0298_feature_6_2_13.sql...
2021-08-21 01:06:12,415 Executing cora2_spark_sql/0299_feature_6_2_14.sql...
2021-08-21 01:06:17,688 Executing cora2_spark_sql/0300_feature_6_2_15.sql...
2021-08-21 01:06:23,165 Executing cora2_spark_sql/0301_feature_6_2_16.sql...
2021-08-21 01:06:29,131 Executing cora2_spark_sql/0302_feature_6_2_17.sql...
2021-08-21 01:06:34,909 Executing cora2_spark_sql/0303_feature_6_2_18.sql...
2021-08-21 01:06:40,187 Executing cora2_spark_sql/0304_feature_6_2_19.sql...
2021-08-21 01:06:45,674 Executing cora2_spark_sql/0305_feature_6_2_20.sql...
2021-08-21 01:06:51,038 Executing cora2_spark_sql/0306_features_6_2.sql...
2021-08-21 01:07:05,300 Executing cora2_spark_sql/0307_feature_6_1.sql...
2021-08-21 01:07:10,417 Executing cora2_spark_sql/0308_feature_6_2.sql...
2021-08-21 01:07:15,362 Executing cora2_spark_sql/0309_feature_6_3.sql...
2021-08-21 01:07:19,748 Executing cora2_spark_sql/0310_feature_6_4.sql...
2021-08-21 01:07:23,610 Executing cora2_spark_sql/0311_feature_6_5.sql...
2021-08-21 01:07:27,888 Executing cora2_spark_sql/0312_feature_6_6.sql...
2021-08-21 01:07:31,279 Executing cora2_spark_sql/0313_feature_6_7.sql...
2021-08-21 01:07:35,812 Executing cora2_spark_sql/0314_feature_6_8.sql...
2021-08-21 01:07:40,163 Executing cora2_spark_sql/0315_feature_6_9.sql...
2021-08-21 01:07:44,233 Executing cora2_spark_sql/0316_feature_6_10.sql...
2021-08-21 01:07:48,554 Executing cora2_spark_sql/0317_feature_7_1_1.sql...
2021-08-21 01:07:54,046 Executing cora2_spark_sql/0318_feature_7_1_2.sql...
2021-08-21 01:07:59,591 Executing cora2_spark_sql/0319_feature_7_1_3.sql...
2021-08-21 01:08:04,690 Executing cora2_spark_sql/0320_feature_7_1_4.sql...
2021-08-21 01:08:10,208 Executing cora2_spark_sql/0321_feature_7_1_5.sql...
2021-08-21 01:08:15,491 Executing cora2_spark_sql/0322_feature_7_1_6.sql...
2021-08-21 01:08:20,985 Executing cora2_spark_sql/0323_feature_7_1_7.sql...
2021-08-21 01:08:26,677 Executing cora2_spark_sql/0324_feature_7_1_8.sql...

2021-08-21 01:08:32,120 Executing cora2_spark_sql/0325_feature_7_1_9.sql...
2021-08-21 01:08:37,901 Executing cora2_spark_sql/0326_feature_7_1_10.sql...
2021-08-21 01:08:43,681 Executing cora2_spark_sql/0327_feature_7_1_11.sql...
2021-08-21 01:08:48,622 Executing cora2_spark_sql/0328_feature_7_1_12.sql...
2021-08-21 01:08:53,917 Executing cora2_spark_sql/0329_feature_7_1_13.sql...
2021-08-21 01:08:59,498 Executing cora2_spark_sql/0330_feature_7_1_14.sql...
2021-08-21 01:09:04,655 Executing cora2_spark_sql/0331_feature_7_1_15.sql...
2021-08-21 01:09:10,190 Executing cora2_spark_sql/0332_feature_7_1_16.sql...
2021-08-21 01:09:15,542 Executing cora2_spark_sql/0333_feature_7_1_17.sql...
2021-08-21 01:09:21,710 Executing cora2_spark_sql/0334_feature_7_1_18.sql...
2021-08-21 01:09:27,297 Executing cora2_spark_sql/0335_feature_7_1_19.sql...
2021-08-21 01:09:32,655 Executing cora2_spark_sql/0336_feature_7_1_20.sql...
2021-08-21 01:09:38,185 Executing cora2_spark_sql/0337_features_7_1.sql...
2021-08-21 01:09:54,187 Executing cora2_spark_sql/0338_feature_7_2_1.sql...
2021-08-21 01:10:00,389 Executing cora2_spark_sql/0339_feature_7_2_2.sql...
2021-08-21 01:10:06,385 Executing cora2_spark_sql/0340_feature_7_2_3.sql...
2021-08-21 01:10:12,373 Executing cora2_spark_sql/0341_feature_7_2_4.sql...
2021-08-21 01:10:18,380 Executing cora2_spark_sql/0342_feature_7_2_5.sql...
2021-08-21 01:10:24,075 Executing cora2_spark_sql/0343_feature_7_2_6.sql...
2021-08-21 01:10:30,027 Executing cora2_spark_sql/0344_feature_7_2_7.sql...
2021-08-21 01:10:36,403 Executing cora2_spark_sql/0345_feature_7_2_8.sql...
2021-08-21 01:10:42,217 Executing cora2_spark_sql/0346_feature_7_2_9.sql...
2021-08-21 01:10:47,878 Executing cora2_spark_sql/0347_feature_7_2_10.sql...
2021-08-21 01:10:53,574 Executing cora2_spark_sql/0348_feature_7_2_11.sql...
2021-08-21 01:10:59,139 Executing cora2_spark_sql/0349_feature_7_2_12.sql...
2021-08-21 01:11:04,752 Executing cora2_spark_sql/0350_feature_7_2_13.sql...
2021-08-21 01:11:10,196 Executing cora2_spark_sql/0351_feature_7_2_14.sql...
2021-08-21 01:11:16,112 Executing cora2_spark_sql/0352_feature_7_2_15.sql...
2021-08-21 01:11:22,298 Executing cora2_spark_sql/0353_feature_7_2_16.sql...
2021-08-21 01:11:27,993 Executing cora2_spark_sql/0354_feature_7_2_17.sql...
2021-08-21 01:11:34,014 Executing cora2_spark_sql/0355_feature_7_2_18.sql...
2021-08-21 01:11:40,294 Executing cora2_spark_sql/0356_feature_7_2_19.sql...
2021-08-21 01:11:46,595 Executing cora2_spark_sql/0357_feature_7_2_20.sql...
2021-08-21 01:11:52,111 Executing cora2_spark_sql/0358_features_7_2.sql...
2021-08-21 01:12:07,618 Executing cora2_spark_sql/0359_feature_7_1.sql...
2021-08-21 01:12:13,143 Executing cora2_spark_sql/0360_feature_7_2.sql...
2021-08-21 01:12:18,720 Executing cora2_spark_sql/0361_feature_7_3.sql...
2021-08-21 01:12:23,899 Executing cora2_spark_sql/0362_feature_7_4.sql...
2021-08-21 01:12:28,036 Executing cora2_spark_sql/0363_feature_7_5.sql...
2021-08-21 01:12:33,172 Executing cora2_spark_sql/0364_feature_7_6.sql...
2021-08-21 01:12:36,994 Executing cora2_spark_sql/0365_feature_7_7.sql...
2021-08-21 01:12:41,814 Executing cora2_spark_sql/0366_feature_7_8.sql...
2021-08-21 01:12:46,361 Executing cora2_spark_sql/0367_feature_7_9.sql...
2021-08-21 01:12:50,111 Executing cora2_spark_sql/0368_feature_7_10.sql...
2021-08-21 01:12:55,061 Executing cora2_spark_sql/0369_features_batch_1.sql...
2021-08-21 01:13:24,206 Executing cora2_spark_sql/0370_features_batch_2.sql...
2021-08-21 01:13:37,782 Executing cora2_spark_sql/0371_features.sql...

In [32]:
begin = time.time()
features1 = pipe1.transform(container.train)
end = time.time()

getml_runtime1 = datetime.timedelta(seconds=end - begin)

Staging...
[========================================] 100%

Preprocessing...
[========================================] 100%

FastProp: Building subfeatures...
[========================================] 100%

FastProp: Building subfeatures...
[========================================] 100%

FastProp: Building features...
[========================================] 100%

In [33]:
begin = time.time()
features1 = pipe2.transform(container.train)
end = time.time()

getml_runtime2 = datetime.timedelta(seconds=end - begin)

Staging...
[========================================] 100%

Relboost: Building subfeatures...
[========================================] 100%

Relboost: Building subfeatures...
[========================================] 100%

Relboost: Building subfeatures...
[========================================] 100%

Relboost: Building subfeatures...
[========================================] 100%

Relboost: Building features...
[========================================] 100%

Relboost: Building subfeatures...
[========================================] 100%

Relboost: Building subfeatures...
[========================================] 100%

Relboost: Building subfeatures...
[========================================] 100%

Relboost: Building subfeatures...
[========================================] 100%

Relboost: Building features...
[========================================] 100%

Relboost: Building subfeatures...
[========================================] 100%

Relboost: Building subfeatures...
[========================================] 100%

Relboost: Building subfeatures...
[========================================] 100%

Relboost: Building subfeatures...
[========================================] 100%

Relboost: Building features...
[========================================] 100%

Relboost: Building subfeatures...
[========================================] 100%

Relboost: Building subfeatures...
[========================================] 100%

Relboost: Building subfeatures...
[========================================] 100%

Relboost: Building subfeatures...
[========================================] 100%

Relboost: Building features...
[========================================] 100%

Relboost: Building subfeatures...
[========================================] 100%

Relboost: Building subfeatures...
[========================================] 100%

Relboost: Building subfeatures...
[========================================] 100%

Relboost: Building subfeatures...
[========================================] 100%

Relboost: Building features...
[========================================] 100%

Relboost: Building subfeatures...
[========================================] 100%

Relboost: Building subfeatures...
[========================================] 100%

Relboost: Building subfeatures...
[========================================] 100%

Relboost: Building subfeatures...
[========================================] 100%

Relboost: Building features...
[========================================] 100%

Relboost: Building subfeatures...
[========================================] 100%

Relboost: Building subfeatures...
[========================================] 100%

Relboost: Building subfeatures...
[========================================] 100%

Relboost: Building subfeatures...
[========================================] 100%

Relboost: Building features...
[========================================] 100%

In [34]:
spark_runtime1 / getml_runtime1

5851.28686128308

In [35]:
spark_runtime2 / getml_runtime2

240.54293225006398

## 3. Conclusion

In this notebook we have demonstrated that getML outperforms state-of-the-art relational learning algorithms on the CORA dataset.

## References

Dinh, Quang-Thang, Christel Vrain, and Matthieu Exbrayat. "A Link-Based Method for Propositionalization." ILP (Late Breaking Papers). 2012.

Motl, Jan, and Oliver Schulte. "The CTU prague relational learning repository." arXiv preprint arXiv:1511.03086 (2015).

Perlich, Claudia, and Foster Provost. "Distribution-based aggregation for relational learning with identifier attributes." Machine Learning 62.1-2 (2006): 65-105.

Preisach, Christine, and Lars Schmidt-Thieme. "Relational ensemble classification." Sixth International Conference on Data Mining (ICDM'06). IEEE, 2006.

# Next Steps

This tutorial benchmarked getML against academic state-of-the-art algorithms from relational learning literature and getML's qualities with respect to categorical data.

If you are interested in further real-world applications of getML, head back to the [notebook overview](welcome.md) and choose one of the remaining examples.

Here is some additional material from our [documentation](https://docs.getml.com/latest/) if you want to learn more about getML:
* [Feature learning with Multirel](https://docs.getml.com/latest/user_guide/feature_engineering/feature_engineering.html#multirel)
* [Feature learning with Relboost](https://docs.getml.com/latest/user_guide/feature_engineering/feature_engineering.html#relboost)

# Get in contact

If you have any question schedule a [call with Alex](https://go.getml.com/meetings/alexander-uhlig/getml-demo), the co-founder of getML, or write us an [email](team@getml.com). Prefer a private demo of getML? Just contact us to make an appointment.